div#navbar.row.blue.light.border-light(ng-include='"components/navbar/navbar.html"')

.container
  .row
    form.ui-property-page.form(name='form', ng-submit='changePassword(form)', novalidate='')
      
      legend.form-legend Change password
      
      .ui-property.form-group
        label.ui-property-name Password
        div.ui-property-value
          input.form-control(type='password', name='password', ng-model='user.oldPassword', mongoose-error='')
          p.help-block(ng-show='form.password.$error.mongoose')
            | {{ errors.other }}
          
      .ui-property.form-group
        label.ui-property-name New Password
        div.ui-property-value
          input.form-control(type='password', name='newPassword', ng-model='user.newPassword', ng-minlength='3', required='')
          p.help-block.b3 Your password must be between 6 and 12 characters long, and must contain at least one letter and one number.
          p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)')
            | Password must be at least 3 characters.
            
      p.help-block  {{ message }}
      
      .ui-buttons.form-group
        a(ui-sref="settings") Cancel
        button.btn.btn-success(type='submit') Change password
