div#navbar.row.blue.light.border-light(ng-include='"components/navbar/navbar.html"')

.container
  .row
    form.ui-property-page.form(name='form', ng-submit='submit(form)', novalidate='')
      
      legend.form-legend Account settings
      
      .ui-property.form-group
        label.ui-property-name Your image
        div.ui-property-value
          ui-image(name='name', ng-model='user.image', mongoose-error='')
      
      .ui-property.form-group
        label.ui-property-name Your name
        div.ui-property-value
          input.form-control(type='text', name='name', ng-model='user.name', mongoose-error='')
          p.help-block(ng-show='form.name.$error.mongoose')
            | {{ errors.other }}
          
      .ui-property.form-group
        label.ui-property-name Email address
        div.ui-property-value
          input.form-control(type='text', name='email', ng-model='user.email', mongoose-error='')
          p.help-block(ng-show='form.email.$error.mongoose')
            | {{ errors.other }}
            
      .ui-property.form-group
        label.ui-property-name Password
        div.ui-property-value
          a(ui-sref="password") Change password

      p.help-block  {{ message }}

      .ui-buttons.form-group
        button.btn.btn-success(type='submit', ng-disabled="form.$pristine") Save changes
