#forgot.page.micro-form

  div.content
    form(name="form", ng-submit="submit(form)", novalidate="")
      div.micro-form-intro
        img(src="/assets/images/icon-forgot.svg", height="60")
        p.micro-form-note.h4 Forgotten your password? Enter the email address you signed up with below and we'll send you a link you can use to change it.
        p.micro-form-note.h4
          | For more help, send us an email at 
          a(href="mailto:support@higherfra.me") support@higherfra.me
          | .
        
      div.input-group.input-group-lg
        span.input-group-addon.font-awesome &#xf007;
        input.form-control(name="email", type="text", ng-model="user.email", placeholder="Your email address", required, tabindex="1")
          
      div.ui-control.block
        p.ui-error.b1(ng-show='form.email.$error.required && form.password.$error.required && submitted')
          | Please enter your email address.
        p.ui-error.b1 {{ errors.other }}
          
      div.micro-form-buttons
        button.btn.btn-lg.btn-primary(type="submit") Send
        
      p.micro-form-bottom-link.h5.text-center
        a.medium(ui-sref="login") Back to login  
