.ui-content
  .ui-header Mobile
  .ui-pane
    span.ui-tray-message.caption No components available

  .ui-header Desktop
  .ui-pane
    span.ui-tray-message.caption No components available
    
  .ui-header Basic shapes
  .ui-pane
    span.ui-tray-message.caption No components available
