
#toolbox {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
  padding-top: 10px;
  background: $grey-3;

  .toolbox-component {
    padding: 6px;

    svg {
      width: 28px;

      path, circle {
        fill: white;
      }
    }
  }
}
