
.tray-bar {
  @include display-flex;
  @include flex-direction(column);
  @include flex-shrink(0);
  width: 42px;
  height: 100%;
  background: $grey-3;

  .tray-bar-item {
    padding: 9px;
    @include transition(all 100ms);

    &:active {
      @include transition(all 30ms);
    }

    &:hover {
      background: #525550;
    }

    &:active,
    &.active:active {
      background: #ffc000;

      svg {
        path, circle {
          fill: $grey-3;
        }
      }
    }

    &.active {
      svg {
        path, circle {
          fill: #ffc000;
        }
      }
    }

    svg {
      display: block;
      width: 24px;

      path, circle {
        fill: white;
      }
    }
  }
}
