.ui-content
  .ui-header Current view
  .ui-pane
    span.caption Current zoom is {{ TrayController.zoom*100 }}%
    
  .ui-header Mini-map
  .ui-pane
    span.ui-tray-message.caption No mini-map available
