div.form-group
  label.form-label.h6(for="") Line
  
  div.form-controls
    div.form-control-row
      input(type="hidden", property-name="type", property-input-bindings, ng-model="PropsCtrl.properties.type")
      div.ui-dropdown(uib-dropdown, dropdown-append-to-body)
        div.form-control.ui-dropdown-toggle(uib-dropdown-toggle)
          | {{ PropsCtrl.typeOptions[PropsCtrl.properties.type] }}
          span.chevron
            
        ul.uib-dropdown-menu
          li(ng-repeat="(value, label) in PropsCtrl.typeOptions")
            a(ng-click="PropsCtrl.properties.type = value") {{ label }}

div.form-group
  label.form-label.h6 Arrow
  
  div.form-controls
    div.form-control-row
      input(type="hidden", property-name="direction", property-input-bindings, ng-model="PropsCtrl.properties.direction")
      div.ui-dropdown(uib-dropdown, dropdown-append-to-body)
        div.form-control.ui-dropdown-toggle(uib-dropdown-toggle)
          | {{ PropsCtrl.directionOptions[PropsCtrl.properties.direction] }}
          span.chevron
            
        ul.uib-dropdown-menu
          li(ng-repeat="(value, label) in PropsCtrl.directionOptions")
            a(ng-click="PropsCtrl.properties.direction = value") {{ label }}

div.form-group
  label.form-label.h6(for="") Position
  
  div.form-controls
    div.form-control-row
      input.form-control.full(property-name="x", property-input-bindings, ng-model="PropsCtrl.properties.x", ng-model-options="{ updateOn: 'blur' }", property-type="Float", property-suffix="px")
      input.form-control.full(property-name="y", property-input-bindings, ng-model="PropsCtrl.properties.y", ng-model-options="{ updateOn: 'blur' }", property-type="Float", property-suffix="px")
