div.tray-area.form
  h6.tray-heading.h6.uppercase.medium.airy Dimensions

  div.tray-group
    div.tray-controls
      div.tray-control-row
        div.tray-control-icon.glyph t
        input.tray-control.tray-control-styling.full(property-name="x", property-bindings, ng-model="PropsCtrl.properties.x", ng-model-options="{ updateOn: 'blur' }", property-type="Float", property-suffix="px")
          
        div.tray-control-icon.glyph l
        input.tray-control.tray-control-styling.full(property-name="y", property-bindings, ng-model="PropsCtrl.properties.y", ng-model-options="{ updateOn: 'blur' }", property-type="Float", property-suffix="px")
      
  div.tray-group
    div.tray-controls
      div.tray-control-row
        div.ui-dropdown.tray-control(uib-dropdown, dropdown-append-to-body)
          div.ui-dropdown-toggle.tray-control-styling(uib-dropdown-toggle)
            | {{ PropsCtrl.size.label }}
            span.chevron
              
          ul.uib-dropdown-menu
            li(ng-repeat="option in PropsCtrl.sizeOptions")
              a(ng-click="PropsCtrl.onSizeSelect(option)") {{ option.label }}
        
      div.tray-control-row
        div.tray-control-icon.glyph w
        input.tray-control.tray-control-styling(property-name="width", property-bindings, ng-model="PropsCtrl.properties.width", ng-model-options="{ updateOn: 'blur' }", property-type="Float", property-suffix="px")
          
        div.tray-control-icon.glyph h
        input.tray-control.tray-control-styling(property-name="height", property-bindings, ng-model="PropsCtrl.properties.height", ng-model-options="{ updateOn: 'blur' }", property-type="Float", property-suffix="px")

div.tray-area.form.tray-divider-top
  h6.tray-heading.h6.uppercase.medium.airy Browser
  
  div.tray-group
    label.tray-label.h6(for="") Address
    
    div.tray-controls
      div.tray-control-row
        input.tray-control.tray-control-styling.full(property-name="address", property-bindings, ng-model="PropsCtrl.properties.address", ng-model-options="{ updateOn: 'blur' }")

div.tray-area.form.tray-divider-top.tray-divider-bottom
  h6.tray-heading.h6.uppercase.medium.airy Appearance
  
  div.tray-group
    div.tray-controls
      div.tray-control-row
        div.tray-control-icon.glyph 1
        rzslider#properties-appearance-opacity-slider.tray-control(rz-slider-model="PropsCtrl.properties.opacity", rz-slider-options="{ floor: 0, ceil: 100 }")
        input#properties-appearance-opacity-input.tray-control.tray-control-styling.auto(property-name="opacity", property-bindings, ng-model="PropsCtrl.properties.opacity", ng-model-options="{ updateOn: 'blur' }", property-type="Float", property-suffix="%")
