node_modules
public
.tmp
.tmp-server
.sass-cache
client/bower_components
dist
/server/config/local.env.js
.bower-cache
.bower-registry
.bower-tmp
tmp
server/tmp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
