.animateGrowToScreen {
	z-index: 2;
}

.animateGrowToScreen-add {
	transition: transform 700ms $easeInOutQuint !important;

	* {
		opacity: 1;
		@include transition(opacity 300ms);
	}
}

.animateGrowToScreen,
.animateGrowToScreen-add-active {
	* {
		opacity: 0 !important;
	}
}

.animateGrowToScreen-remove {
	transition: transform 700ms $easeInOutQuint !important;

	* {
		opacity: 0 !important;
		@include transition(opacity 300ms);
		@include transition-delay(700ms);
	}
}

.animateGrowToScreen-remove-active {
	* {
		opacity: 1;
	}
}
