div.ui-placeholder(class="{{ Ctrl.type }}")
	img.placeholder.image(ng-src="/assets/images/placeholders/{{ Ctrl.type }}.svg")
	div.real.image(ng-if="Ctrl.src", ng-style="{ 'background-image': 'url(' + Ctrl.src + ')' }")
