
$header-toolbar-padding: 11px;

.layout-partial {
  & > * {
    max-width: $page-partial-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

#header {
  background: $grey-3;
  -webkit-font-smoothing: antialiased;

  .header-navigation,
  .header-title,
  .header-toolbar {
    padding: 0 $page-full-margin;
  }

  &,
  a {
    color: white;
  }

  a {
    @include transition(color 200ms);
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      color: white;
    }
  }

  .header-navigation {
    @include display-flex;
    @include align-items(center);
    height: $header-navigation-height;

    .header-navigation-back {
      width: 200px;

      .font-awesome {
        position: relative;
        top: 0;
        margin-right: 6px;
        font-size: 0.8em;
      }
    }

    .header-navigation-title {
      @include flex-grow(1);
      @include flex-shrink(1);
      text-align: center;
    }

    .header-navigation-right {
      width: 200px;
      text-align: right;
    }
  }

  .header-title {
    @include box-sizing(border-box);
    height: $header-title-height;
    padding-bottom: 13px;

    h2 {
      margin-top: -7px;
      margin-bottom: 0;
    }
  }

  .header-toolbar {
    @include display-flex;
    height: $header-toolbar-height;

    & > .header-toolbar-item:first-child:not(.header-toolbar-link) {
      margin-left: -$header-toolbar-padding;
    }

    .header-toolbar-group {
      @include display-flex;
    }

    .header-toolbar-item {
      position: relative;
      height: $header-toolbar-height;
      margin-top: 0;
      margin-bottom: 0;

      &,
      .header-toolbar-item-label {
        @include transition(all 100ms);

        &:active {
          @include transition(all 30ms);
        }
      }

      .header-toolbar-item-label {
        display: block;
        height: 9px;
        line-height: 9px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 13px;
      }

      .chevron {
        position: relative;
        top: -1px;
        margin-left: 1px;
        font-family: 'FontAwesome';
        font-size: 8px;
        color: $grey1;

        &:after {
          content: 'f078'
        }
      }
    }

    .header-toolbar-link {
      margin-right: 46px;
      line-height: $header-toolbar-height;
      color: $grey1;

      &:hover {
        color: white;
      }
    }

    .header-toolbar-button {
      line-height: $header-toolbar-height;
      margin: 0;
      padding: 0 $header-toolbar-padding;
      border: none;
      text-align: center;
      background: none;

      &:focus {
        outline: 0;
      }

      &:hover {
        background: #525550;
      }

      &:active,
      &.active:active {
        color: $grey-3;
        background: #ffc000;
      }

      &[disabled] {
        opacity: 0.3;
        pointer-events: none;
      }

      .header-toolbar-icon {
        font-size: 14px;
      }

      .font-awesome {
        display: block;
      }
    }

    .header-toolbar-input-group {
      @include display-flex;
      position: relative;

      .header-toolbar-input-group-addon {
        padding: 0 7px 0 $header-toolbar-padding;
        line-height: $header-toolbar-height;
      }
    }

    .header-toolbar-input {
      border: none;
      background: none;

      &:focus {
        outline: none;
        @include box-shadow(none);
      }
    }

    .dropdown.open .header-toolbar-button,
    .header-toolbar-link.active,
    .header-toolbar-toggle.active {
      color: white;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: $yellow;
      }

      .chevron {
        color: white;
      }
    }

    .header-toolbar-divider {
      height: $header-toolbar-height;
      width: 0;
      margin: 0 11px;
      border-right: 1px solid #535550;
    }

    .header-toolbar-right {
      margin-left: auto;

      & + .header-toolbar-right {
        margin-left: 0;
      }
    }
  }
}

.ui-dropdown-toggle {

}

#identity {
  .ui-dropdown-toggle {
    @include display-flex;
    @include align-items(center);
    @include justify-content(flex-end);

    &:hover {
      span {
        color: white;
      }
    }

    span {
      @include transition(color 200ms);
      color: $grey1;
    }

    .font-awesome {
      position: relative;
      top: 0.08em;
      margin-left: 6px;
      font-size: 0.7em;
    }
  }

  .ui-placeholder {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}

.ui-dropdown-toggle {
  span {
    position: relative;
    top: 1px;
    display: block;
  }

  .chevron {
    position: relative;
    display: inline-block;
    top: -1px;
    margin-left: 4px;
    font-family: 'FontAwesome';
    font-size: 8px;

    &:after {
      content: '\f078'
    }
  }
}
