div#navbar.row.blue.border-light(ng-include='"components/navbar/navbar.html"')
div#actionbar.row.blue.light
	a.action.b3.roboto.semibold(ui-sref="frames") Wireframes
	a.action.b3.roboto.semibold() Organisations
	a.action.b3.roboto.semibold() Sharing
		
div#frames
	div#framesListContainer(ng-repeat="organisation in FramesCtrl.organisations")
		div.organisation.row
			div.name.b3.uppercase.strong.airy {{ organisation.organisation.name }}
			
		div.frames.cards.row
			a.card(ng-repeat="frame in organisation.frames | orderBy:'-created_at'", ng-click="FramesCtrl.onFrameClick($event, frame)")
				div.content
					div.left
						span.name.h3.block {{ frame.name }}
						span.project.b1.block {{ frame.organisation.name }}
						ul.users
							li.user(ng-repeat="user in frame.users", tooltips, tooltip-speed="fast", tooltip-side="bottom", tooltip-title="Shared with {{ user.name }}")
								img.image(ng-if="user.provider == 'facebook'", ng-src="http://graph.facebook.com/{{ user.facebook.id }}/picture?type=large")
						
					div.right
						span.lastModified {{ (frame.created_at | moment).fromNow() }}
						
			a.card.new(ng-click="FramesCtrl.onNewFrameClick(organisation.organisation)")
				div.content
					span + add new
