div#navbar.row.blue.border-light(ng-include='"components/navbar/navbar.html"')
div#actionbar.row.blue.light
	span.action.action-menu.b3.roboto.semibold(ui-action-menu) File
		div.action-menu-items
			a.action-menu-item
				span.action-menu-item-label New wireframe
				span.action-menu-item-shortcut
					span(ng-bind-html="'ctrl' | symbol")
					| N
				
			a.action-menu-item 
				span.action-menu-item-label New organisation
				span.action-menu-item-shortcut
					span(ng-bind-html="'shift' | symbol")
					span(ng-bind-html="'ctrl' | symbol")
					| N
		
	span.action.action-menu.b3.roboto.semibold(ui-action-menu) Settings
		div.action-menu-items
			a.action-menu-item 
				span.action-menu-item-label User settings
				span.action-menu-item-shortcut
					span(ng-bind-html="'ctrl' | symbol")
					| U
		
div#frames
	div.group(ng-repeat="group in FramesCtrl.groups")
		div.organisation.row
			div.name.b3.uppercase.strong.airy {{ group.organisation.name }}
				div.settings(ng-click="FramesCtrl.onOrganisationSettingsClick($event, group.organisation)")
					svg-replace(ng-src="/assets/images/settings.svg")
			
		div.frames.cards.row
			a.card(ng-repeat="frame in group.frames | orderBy:'-created_at'", ng-click="FramesCtrl.onFrameClick($event, frame)")
				div.content
					div.left
						span.name.h3.block {{ frame.name }}
						span.project.b1.block {{ frame.organisation.name }}
								
						ul.users
							li.user(ng-repeat="user in frame.users", ui-tooltip="'Shared with ' + user.name")
								ui-placeholder.avatar(ng-if="user.provider == 'facebook'", type="user", src="'http://graph.facebook.com/' + user.facebook.id + '/picture?type=large'")
								ui-placeholder.avatar(ng-if="user.provider != 'facebook'", type="user")
						
					div.right
						span.lastModified {{ (frame.created_at | moment).fromNow() }}
						
			a.card.new(ng-click="FramesCtrl.onNewFrameClick(group.organisation)")
				div.content
					span + add new
