div#navbar.white.border(ng-include='"components/navbar/navbar.html"')

div#frames
	div.sidebar.filters
		button.button(type="button", ng-click="onNewFrameClick()") + New wireframe 
	
		div.divider
		
		div.item.active
			span.name My wireframes
			span.counter {{ frames.length }}

		div.item
			span.name Shared with me
			span.counter 0

		div.item
			span.name Favorites
			span.counter 0
			
		div.divider
		
		div.item
			span.name Architizer
			
		div.item
			span.name Higherframe
	
	div#framesListContainer
		div#framesList.cards
			a.card(ng-repeat="frame in frames | orderBy:'-created_at'", ng-click="onFrameClick($event, frame)")
				div.delete(ng-click="onFrameDeleteClick($event, frame)") Delete
				div.content
					div.left
						span.name.title.block {{ frame.name }}
						span.project.subhead.block Architizer Source
						
					div.right
						span.lastModified {{ (frame.created_at | moment).fromNow() }}
