$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

@include keyframes(cardEntry) {
	from {
		opacity: 0;
	}
}

@include keyframes(cardExit) {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.cards {
	@include display-flex;
	@include flex-wrap(wrap);
	position: relative;
	margin-top: -2*$vu;

	.card {
		@include box-sizing(border-box);
		@include display-flex;
		border: 1px solid $blue8;
		border-radius: 5px;
		background: white;
		text-decoration: none;
		letter-spacing: 0.01em;
		margin-top: 2*$vu;

		&:hover {
			cursor: pointer;
			border-color: $grey2;
		}

		&:active {
			@include transition(all 150ms $easeOutQuint);
			@include transform(translateY(-0.05rem));
			box-shadow: 0.1rem 0.16rem 0.64rem 0 rgba(0, 0, 0, 0.2);
		}

		.content {
			@include flex-grow(1);
			padding: 15px;
		}
	}
}

#frames {
	margin-top: 6*$vu;

	.group {
		& + .group {
			margin-top: 10*$vu;
		}

		.organisation {
			.name {
				@include span(full);
				color: $grey2;

				.settings {
					$padding: 5px;
					display: none;
					margin: (-$padding) (-$padding) (-$padding - 1px) (-$padding + 5px);
					padding: $padding;
					cursor: pointer;

					&:hover {
						svg {
							path {
								fill: $blue;
							}
						}
					}

					svg {
						display: block;
						width: 11px;
						height: auto;

						path {
							fill: $grey2;
						}
					}
				}
			}
		}

		.frames {
			margin-top: -$vu;

			.card {
				position: relative;
				height: 114px;

				&:nth-child(4n) {
					margin-right: 0;
				}

				&.new {
					border: none;
					background: #f4f4f4;
					text-align: center;

					.content {
						padding-top: 7*$vu;
					}
				}

				.left {

				}

				.right {
					display: none;
				}

				.block {
					display: block;
				}

				.name {
					color: $grey-3;
				}

				.project {
					margin-top: $vu;
					color: $grey1;
				}

				.users {
					margin-top: 15px;

					.user {
						float: left;

						& + .user {
							margin-left: 5px;
						}

						.avatar {
							display: block;
							width: 4*$vu;
							height: 4*$vu;
							border-radius: 2*$vu;
						}
					}
				}

				.lastModified {}
			}
		}
	}
}

@mixin card-width($columns, $margin) {

	#frames {
		.cards {
			.card {
				width: (100% - ($columns - 1)*$margin) / $columns;
				margin-left: $margin;

				&:nth-child(#{$columns}n+1) {
					margin-left: 0;
				}
			}
		}
	}
}

@include breakpoint(500px 800px) {

	@include card-width(2, 3%);
}

@include breakpoint(801px 1200px) {

	@include card-width(3, 2.5%);
}

@include breakpoint(1201px 1700px) {

	@include card-width(4, 2%);
}

@include breakpoint(1701px 2000px) {

	@include card-width(5, 1.5%);
}

@include breakpoint(2001px 2300px) {

	@include card-width(6, 1%);
}

@include breakpoint(2001px 2300px) {

	@include card-width(7, 0.8%);
}
