// Requirements
// ============

@import "susy";

$susy: (
  columns: 16,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after
);

.row {
	@include container;
  padding-left: 2%;
  padding-right: 2%;
}
