// Requirements
// ============

@import "susy";

$susy: (
	container: 1200px,
  columns: 16,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

.row {
	@include container();
}