
/*
 * Colors
 */

$chromeBackgroundLight: #f7f8f9;
$chromeBackgroundMedium: #edeff1;

$chromeBorderLight: #eff2f4;
$chromeBorderMedium: #dfe2e6;
$chromeBorderDark: #c6ccd2;

$chromeTextMedium: #d1d5d9;


/*
 * Dimensions
 */

$chromePaddingSmall: 7px;

$chromeMarginSmall: 8px;

$chromeBorderRadiusMedium: 5px;


/*
 * Animations
 */

$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
