
@import "compass/reset";
@import "compass/css3";
@import "breakpoint";

$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'font-awesome/scss/font-awesome';

@import 'theme/_variables.scss';
@import 'theme/_typography.scss';
@import 'theme/_animations.scss';

// Component styles are injected through grunt task
// injector
@import '_grids.scss';
@import '_helpers.scss';
@import 'account/login/login.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'frame/frame.scss';
@import 'frame/panes/activity.scss';
@import 'frame/panes/properties.scss';
@import 'frame/trays/toolbox.scss';
@import 'frames/frames.scss';
@import 'main/main.scss';
@import 'theme/_animations.scss';
@import 'theme/_typography.scss';
@import 'theme/_variables.scss';
@import 'navbar/navbar.scss';
@import 'ui/forms/autocomplete.scss';
@import 'ui/forms/error.scss';
@import 'ui/forms/icon.scss';
@import 'ui/forms/image.scss';
@import 'ui/forms/select.scss';
@import 'ui/forms/tokens.scss';
@import 'ui/modal/modal.scss';
@import 'ui/placeholder/placeholder.scss';
@import 'ui/property-page/property-page.scss';
@import 'ui/swatch/swatch.scss';
@import 'ui/tooltip/tooltip.scss';
@import 'ui/tray/tray.scss';
// endinjector


#content {
  z-index: 1;
}

#alerts {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .alert {
    border-radius: 0;
    margin-bottom: 0;

    .action {
      cursor: pointer;
    }
  }
}
