// Header
#header.layout-partial(ng-controller="NavbarCtrl")
	div.header-navigation
		a.header-navigation-back.h6.medium(ui-sref="dashboard.projects")
			span.font-awesome &#xf053;
			span Dashboard

		div.header-navigation-title.h4

		div.header-navigation-right.h6.medium
			div#identity(ng-show="isLoggedIn()", uib-dropdown, dropdown-append-to-body="true")
				a.ui-dropdown-toggle(uib-dropdown-toggle)
					ui-placeholder(type="user", src="getCurrentUser().image")
					span {{ getCurrentUser().name }}
					span.font-awesome &#xf078;

				ul(uib-dropdown-menu)
					li
						a {{ getCurrentUser().name }}

					li.divider
							
					li(ng-class="{active: isActive('/settings')}")
						a(href="/settings") Settings

					li(ng-class="{active: isActive('/logout')}")
						a(href="", ng-click="logout()") Log out

	div.header-title
		h2 {{ ProjectCtrl.project.name }}

	div.header-toolbar
		a.header-toolbar-link.header-toolbar-item(ui-sref="project.frames", ui-sref-active="active")
			span.header-toolbar-item-label.h6.medium Wireframes

		a.header-toolbar-link.header-toolbar-item
			span.header-toolbar-item-label.h6.medium Sharing

		a.header-toolbar-link.header-toolbar-item(ui-sref="project.settings", ui-sref-active="active")
			span.header-toolbar-item-label.h6.medium Settings

ui-view
