$navbarHeight: 40px;
$logoHeight: 20px;

#navbar {
	@include box-sizing(border-box);
	width: 100%;

	&.blue {
		background: #3c3e3a;
	}

	&.transparent {
		background: none;
	}
}

#navbar {
	position: relative;
	height: $navbarHeight;
	line-height: $navbarHeight;
	z-index: 100;

	&.blue {
		#logo {
			path {
	      fill: white;
	    }
		}
	}

	&.transparent {
		#logo {
			path {
	      fill: $blue;
	    }
		}
	}

	&.light {
		#logo {
			path {
	      fill: white;
	    }
		}

		.left,
		.right {
			& > .navCollection > .navItem,
			& > .navItem {
				& > a {
					color: white;

					svg {
						path {
							fill: white;
						}
					}
				}
			}
		}
	}

	&.green {
		#logo {
			path {
	      fill: #1cbcbc;
	    }
		}
	}

	&.dark {

	}

	&.overlay {
		height: 0;

		.container {
			height: 0;
		}
	}

	.container {
		@include display-flex;

		.left {
			@include flex-grow(1);
		}

		.right {
			@include flex-shrink(0);
		}
	}

	#logo {
		position: relative;
		display: block;
		float: left;
		top: 2px;
		height: $logoHeight;
		margin-top: ($navbarHeight - $logoHeight) / 2;
		margin-right: 30px;

		svg {
			display: block;
			height: $logoHeight;
		}
  }

	#primaryNavigation,
	#identity {
		display: inline-block;
	}

	#primaryNavigation {
		display: none;
	}

	#identity {
		white-space: nowrap;

		.dropdown-menu {
			left: auto;
			right: 0;
		}
	}

	.navCollection {
		position: relative;
		display: inline-block;

		.navCollection + .navCollection {
			margin-left: 20px;
		}
	}

	.navItem {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;

		& > .text,
		& > a {
			display: inline-block;
			line-height: 14px;
			vertical-align: middle;
		}

		& > a {
			text-decoration: none;
			font-weight: 600;

			.dropdown-chevron {
				height: 7px;
				margin-left: 8px;
			}
		}

		&:hover  {
			.dropdown {
				display: block;
			}
		}

		&.hasImage {
			position: relative;

			& > a {
				padding-left: 5 * $vu;

				.ui-placeholder {
					position: absolute;
					left: 0;
					top: 50%;
					width: 5 * $vu;
					height: 5 * $vu;
					margin-top: -2.5 * $vu;
					border-radius: 2.5 * $vu;
				}
			}
		}
	}

	.navItem + .navItem {
		margin-left: 30px;
	}
}
