$navbarHeight: 7 * $vu;
$actionbarHeight: 4 * $vu;
$logoHeight: 3 * $vu;

#navbar,
#actionbar {
	@include box-sizing(border-box);
	width: 100%;

	&.border {
		border-bottom: 1px solid #dce1e0;
	}

	&.border-light {
		border-bottom: 1px solid lighten(#dce1e0, 8);
	}

	&.white {
		background: white;
	}

	&.blue {
		background: $blue;

		&.border {
			border-bottom: 1px solid #dce1e0;
		}

		&.border-light {
			border-bottom: 1px solid $blue1;
		}
	}

	&.transparent {
		background: none;
	}
}

#navbar {
	position: relative;
	height: $navbarHeight;
	line-height: $navbarHeight;
	z-index: 100;

	&.blue {
		#logo {
			path {
	      fill: white;
	    }
		}
	}

	&.transparent {
		#logo {
			path {
	      fill: $blue;
	    }
		}
	}

	&.light {
		#logo {
			path {
	      fill: white;
	    }
		}

		.left,
		.right {
			& > .navCollection > .navItem,
			& > .navItem {
				& > a {
					color: white;

					svg {
						path {
							fill: white;
						}
					}
				}
			}
		}
	}

	&.dark {

	}

	&.overlay {
		height: 0;

		.container {
			height: 0;
		}
	}

	.container {
		@include display-flex;

		.left {
			@include flex-grow(1);
		}

		.right {
			@include flex-shrink(0);
		}
	}

	#logo {
		position: relative;
		display: block;
		float: left;
		top: 2px;
		height: $logoHeight;
		margin-top: 2 * $vu;
		margin-right: 30px;

		svg {
			display: block;
			height: $logoHeight;
		}
  }

	#primaryNavigation,
	#identity {
		display: inline-block;
	}

	#primaryNavigation {
		display: none;
	}

	#identity {
		white-space: nowrap;
	}

	.navCollection {
		position: relative;
		display: inline-block;

		.navCollection + .navCollection {
			margin-left: 20px;
		}

		.dropdown {
			display: none;
		}
	}

	.navItem {
		display: inline-block;
		vertical-align: top;

		.text,
		a {
			display: inline-block;
			line-height: 14px;
			vertical-align: middle;
		}

		a {
			text-decoration: none;
			font-weight: 600;

			.dropdown-chevron {
				height: 7px;
				margin-left: 8px;
			}
		}

		.dropdown {
			display: none;
			position: absolute;
			top: $navbarHeight;
			padding-top: 10px;

			.dropdown-items {
				position: relative;
				box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		    border-radius: 3px;
				background: white;

				&:before {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 100%;
					margin-bottom: -6px;
					margin-left: -6px;
					width: 12px;
					height: 12px;
					background: white;
					@include transform(rotateZ(45deg));
					box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
				}

				li {
					position: relative;
					z-index: 1;
					padding: 15px;
					line-height: normal;
					background: white;

					&:first-child {
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;
					}

					&:last-child {
						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px;
					}
				}
			}
		}

		&:hover  {
			.dropdown {
				display: block;
			}
		}

		&.hasImage {
			position: relative;
			padding-left: 50px;

			.image {
				position: absolute;
				left: 0;
				top: 50%;
				width: 5 * $vu;
				height: 5 * $vu;
				margin-top: -2.5 * $vu;
				border-radius: 2.5 * $vu;
			}
		}
	}

	.navItem + .navItem {
		margin-left: 30px;
	}
}

#actionbar {
	@include display-flex;
	height: $actionbarHeight;

	.action {
		padding: $vu 0;
		cursor: pointer;
		text-decoration: none;
		margin: 0;

		& + .action {
			margin-left: 30px;
		}
	}

	&.light {
		.action {
			color: $blue3;
		}
	}
}
