form(name="ModalCtrl.frame").ui-modal
  .ui-modal-header
    h4 {{ ModalCtrl.title }}
    
  .ui-modal-body
    div.form-group
      label(for="name") What is the wireframe's name?
      input.form-control(name="name", type="text", focus-on="true", ng-model="ModalCtrl.name", placeholder="Enter a name", required)
    
  .ui-modal-footer
    .ui-modal-buttons
      button.btn.btn-default(type="button", ng-click="ModalCtrl.onCloseButtonClick()")
        span Cancel
        
      button.btn.btn-success(type="submit", ng-click="ModalCtrl.onSaveButtonClick()")
        span Create
