form(name="ModalCtrl.form").ui-modal
  .ui-modal-header
    h2 {{ ModalCtrl.title }}
    
  .ui-modal-body
    div.ui-control.block
      label.ui-label.b1(for="name") Name
      input.ui-input(name="name", type="text", ng-model="ModalCtrl.name", placeholder="Enter a name", required)
        
    div.ui-control.block
      label.ui-label.b1(for="organisation") Organisation
      select.ui-input(name="organisation", type="text", ng-model="ModalCtrl.organisation", ng-options="o._id as o.name for o in ModalCtrl.organisations", placeholder="Pick an organisation", required)
    
    div.ui-control.block
      label.ui-label.b1(ng-if="ModalCtrl.users.length") You are already sharing this wireframe with:
      label.ui-label.b1(ng-if="!ModalCtrl.users.length") You are not currently sharing this wireframe with anybody.
      div.ui-tokens
        div.ui-token(ng-repeat="user in ModalCtrl.users") 
          div.ui-token-container
            span.b3.medium {{ user.name }}
            a.ui-token-remove.b3.strong(ng-click="ModalCtrl.onRemoveUserClick(user)") x
        
    div.ui-control.block
      button.ui-button.danger(ng-click="ModalCtrl.onDeleteButtonClick()")
        span.b1.medium.loose.uppercase Delete
    
  .ui-modal-footer
    .ui-modal-buttons
      a.ui-button.neutral(ng-click="ModalCtrl.onCloseButtonClick()")
        span.b1.medium.loose.uppercase Close
        
      a.ui-button.success(ng-click="ModalCtrl.onSaveButtonClick()")
        span.b1.medium.loose.uppercase Save
