#welcome {
  .logo {
    width: 180px;
    margin-bottom: 30px;

    path {
      fill: white;
    }
  }
}

.page.marketing {
  .unit {
    padding: 80px;

    &.blue {
      background: #1cbcbc;
      color: white;
    }

    &.light {
      background: white;
    }

    &.center {
      text-align: center;
    }

    .unit-content {
      @include container;

      &.unit-points {
        .unit-point {
          @include span(4);
          margin-left: span(1) + gutter();
          text-align: center;

          &:first-child {
            margin-left: span(1) + gutter(3);
          }

          .image {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto 24px;
            border: none;
            background: #f0f0f0;
          }
        }
      }
    }
  }
}

// Typography
.display2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
}

.title {
  font-size: 24px;
  line-height: 30px;
}

.subhead {
  font-size: 18px;
  line-height: 28px;
}

.body, p {
  font-size: 16px;
  line-height: 26px;
}

.display2 {
  & + .body,
  & + p {
    margin-top: 32px;
  }
}

.subhead {
  & + .body,
  & + p {
    margin-top: 8px;
  }
}

.semibold {
  font-weight: 600;
}
