$unitPadding: 80px;

#welcome {
  .title + .button-flat {
    display: inline-block;
    margin-top: 32px;
  }
}

.fullscreen-wrapper {
  position: absolute;
  @include display-flex;
  @include flex-direction(column);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page.underlay-navbar {
  margin-top: -7*$vu;

  .unit:first-child {
    padding-top: $unitPadding + 56px;
  }
}

.page.marketing {
  .unit {
    padding: $unitPadding;

    &.image {
      position: relative;
      background-position: center;
      background-size: cover;
      color: white;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0,0,0,0.25);
      }

      .unit-content {
        position: relative;
        z-index: 2;
      }
    }

    &.blue {
      background: $blue;
      color: white;
    }

    &.light {
      background: white;
    }

    &.shade {
      background: #edeff1;
    }

    &.center {
      text-align: center;
    }

    .unit-content {
      @include container;

      &.unit-points {
        .unit-point {
          @include span(4);
          margin-left: span(1) + gutter();
          text-align: center;

          &:first-child {
            margin-left: span(1) + gutter();
          }

          .image {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto 24px;
            border: none;
            background: #f0f0f0;
          }

          .subhead {
            color: $blue;
          }
        }
      }
    }
  }
}

// Forms
.button-flat {
  font-weight: 600;
  text-decoration: none;
  color: $yellow;
}

// Tooltips
._720kb-tooltip {
  ._720kb-tooltip-title {
      @include b3;
  }
}
