div#navbar.white(ng-include='"components/navbar/navbar.html"')
  
div#welcome.page.marketing
  div.unit.blue.center
    div.unit-content
      h2.display2 Seamless team wireframing.
      p.title Higherframe lets you collaborate on wireframes in real-time,<br />so you can prototype faster and more efficiently.
      a.button-flat.title Try now for free
      
  div.unit.light
    div.unit-content.unit-points
      div.unit-point
        div.image
        h4.subhead.semibold Collaborate.
        p Work with your team members on the same prototype in real-time. Communicate by chat and add annotations for review.
        
      div.unit-point
        div.image
        h4.subhead.semibold Integrations.
        p Automatically save exported wireframes to Google Drive or Dropbox. Notify collaborators of chat messages and wireframe activity in Slack.
        
      div.unit-point
        div.image
        h4.subhead.semibold Exports.
        p Export as raster JPEG/PNG, or scalable SVG. Create print-ready PDF documents. Automatically export to your cloud storage service.
  
  div.unit
    div.unit-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    

  div.unit.light
    div.unit-content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
