div#beta-holding.page.marketing
  div.banner
    div.content
      img#banner-logo.fade-in.one(src="/assets/images/logo-green-yellow.svg")
      p.h2.fade-in.one Higherframe lets you collaborate on wireframes in real-time,<br />so you can prototype faster and more efficiently.
      p.h3.fade-in.two
        | Right now we’re in our early testing phase. We can 
        a(href="https://twitter.com/higherframe") keep you updated
        |  with our progress.
