.button {
	@include box-sizing(border-box);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.03rem;
	white-space: nowrap;
	text-align: center;
	background: #bcc0c3;
	color: white;

	&:hover {
		background: shade(#bcc0c3, 10);
		cursor: pointer;
	}

	&:active {
		background: shade(#bcc0c3, 20);
	}

	&:focus {
		outline: none;
	}
}
