#frame
	.sidebar
		#quickAdd.row(ng-hide="true")
			input(ng-model="quickAdd", type="text", placeholder="Quick add (+)", ng-keydown="onQuickAddKeyDown($event)")

		#components
			.component.row(ng-repeat="component in components | filter:quickAdd", ng-click="onComponentClick(component)")
				.thumbnail(ng-style="{ 'background-image': 'url(' + component.thumbnail + ')' }")

				.text
					span.name {{ component.name }}
					span.tags {{ component.tags.join(', ') }}

	canvas#canvas(wireframe, data="wireframe", resize)