#frame
	button#toggleLeftSidebar(type="button", ng-class="{ open: leftSidebarOpen }", ng-click="onToggleSidebarClick()") Toggle sidebar
	.sidebar(ng-class="{ open: leftSidebarOpen }")
		#componentProperties.sidebar-panel
			span.title Properties
			span.placeholder(ng-show="!currentComponent") No component selected
			ul.properties(ng-show="currentComponent")
				li.control(ng-repeat="(name, property) in currentComponent.definition.properties", ng-if="property.visible")
					span.label {{ property.label }}
					input(type="text", ng-model="currentComponent.properties[name]", ng-change="onComponentPropertyChange(name, currentComponent.properties[name], currentComponent, property)")
		
		#components.sidebar-panel
			span.title Toolbox
			.component.row(ng-repeat="component in components", ng-click="onComponentClick(component)")
				.thumbnail(ng-style="{ 'background-image': 'url(' + component.thumbnail + ')' }")

				.text
					span.name {{ component.name }}
					span.tags {{ component.tags.join(', ') }}

	canvas#canvas(wireframe, data="wireframe", resize, keepalive="true")
	
	div.bottomRight
		#collaborators
				.collaborator(ng-repeat="user in collaborators")
					img.image(ng-if="user.provider == 'facebook'", ng-src="http://graph.facebook.com/{{ user.facebook.id }}/picture?type=large", title="{{ user.name }}")
					div.indicator(ng-style="{ 'background': user.color }")
