div.fullscreen-wrapper
	div#frame-titlebar
		a.left(ui-sref="frames")
			span.font-awesome &#xf053;
			span &nbsp; Close
			
		h2.h4.medium.snug 
			| {{ FrameCtrl.frame.name }}
			a(ui-sref="frameSettings({ id: FrameCtrl.frame._id })")
				span.font-awesome &#xf013;
		
		div.right
			button.btn.btn-primary.btn-sm(ng-click="FrameCtrl.onToolbarShareClick()")
				span.font-awesome &#xf1e0;
				|  Share
			
	#frame-toolbar(ng-controller="ToolbarCtrl as ToolbarCtrl", ng-class="{ 'sidebar-open': FrameCtrl.sidebarMode }")
		div#frame-edit-mode.toolbar-item(uib-dropdown)
			button.btn.btn-default.btn-sm(uib-dropdown-toggle)
				span(ng-switch="FrameCtrl.editMode")
					span(ng-switch-default) Draw
					span(ng-switch-when="1") Artboards
					span(ng-switch-when="2") Annotate
				| &nbsp;	
				span.caret
				
			div.uib-dropdown-menu
				li(ng-repeat="mode in FrameCtrl.toolbarConfig.editMode.options")
					a(ng-click="FrameCtrl.onEditModeClick(mode.value)")
						h5.medium {{ mode.title }}
						p.h6 {{ mode.description }}
		
		div.divider
				
		div.btn-group.toolbar-item
			button.btn.btn-default.btn-sm(uib-tooltip-html="'Undo (' + ('ctrl' | symbol) + 'Z)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
				span.font-awesome &#xf0e2;
				
			button.btn.btn-default.btn-sm(uib-tooltip-html="'Redo (' + ('shift' | symbol) + ('ctrl' | symbol) + 'Z)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", disabled)
				span.font-awesome.flip &#xf0e2;
				
		div.toolbar-item(uib-dropdown)
			button.btn.btn-default.btn-sm(uib-dropdown-toggle) 
				| {{ FrameCtrl.view.zoom * 100 }}% 
				span.caret
				
			div.uib-dropdown-menu
				li(ng-repeat="zoom in FrameCtrl.ZOOM_LEVELS")
					a(ng-click="FrameCtrl.onToolbarZoomLevelClick(zoom)", ng-class="{ strong: zoom == FrameCtrl.view.zoom }") {{ zoom * 100 }}%
		
		button.btn.btn-default.btn-sm.toolbar-item(ng-click="FrameCtrl.onToolbarFullscreenClick()", uib-tooltip-html="'Full screen (' + ('ctrl' | symbol) + 'F)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800") 
			span.font-awesome &#xf065;
					
		div.btn-group.toolbar-item
			button.btn.btn-default.btn-sm(ng-click="FrameCtrl.onToolbarCopyClick()", uib-tooltip-html="'Copy (' + ('ctrl' | symbol) + 'C)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.selection.length")
				span.font-awesome &#xf0c5;
				
			button.btn.btn-default.btn-sm(ng-click="FrameCtrl.onToolbarCutClick()", uib-tooltip-html="'Cut (' + ('ctrl' | symbol) + 'X)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.selection.length")
				span.font-awesome &#xf0c4;
				
			button.btn.btn-default.btn-sm(ng-click="FrameCtrl.onToolbarPasteClick()", uib-tooltip-html="'Paste (' + ('ctrl' | symbol) + 'V)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.Clipboard.getItems().length")
				span.font-awesome &#xf0ea;
				
		div.toolbar-item(uib-dropdown)
			button.btn.btn-default.btn-sm(uib-dropdown-toggle, uib-tooltip="Download image", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
				span.font-awesome.fa-fw(ng-show="!ToolbarCtrl.generateImageWorking") &#xf019;
				span(ng-show="ToolbarCtrl.generateImageWorking")
					span.font-awesome.fa-fw.fa-spin &#xf1ce;
					
				|   
				span.caret
					
			div.uib-dropdown-menu
				li
					a(ng-click="ToolbarCtrl.onGenerateImageClick(FrameCtrl.frame, 'png')") PNG
				
				li
					a(ng-click="ToolbarCtrl.onGenerateImageClick(FrameCtrl.frame, 'svg')") SVG
				
		div.divider
		
		div.toolbar-group(ng-if="FrameCtrl.editMode == 0")
			div#quick-add.input-group.input-group-sm.toolbar-item(uib-dropdown)
				span.input-group-addon
					span.font-awesome &#xf0e7;
						
				input.form-control.input-sm(ng-model="ToolbarCtrl.quickAdd", uib-typeahead="component.title for component in ToolbarCtrl.components | filter:{ title: $viewValue }", typeahead-on-select="ToolbarCtrl.onQuickAddSelect($item)", typeahead-append-to-body="true", placeholder="Quick add...")
					
			div.btn-group.toolbar-item
				button.btn.btn-default.btn-sm(ng-model="FrameCtrl.alignment", uib-btn-radio="'Left'", uib-tooltip="Align items left", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.font-awesome &#xf036;
					
				button.btn.btn-default.btn-sm(ng-model="FrameCtrl.alignment", uib-btn-radio="'Center'", uib-tooltip="Align items center", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.font-awesome &#xf037;
					
				button.btn.btn-default.btn-sm(ng-model="FrameCtrl.alignment", uib-btn-radio="'Right'", uib-tooltip="Align items right", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.font-awesome &#xf038;
				
		div#collaborators.toolbar-item.right
			span.text-muted(ng-show="!FrameCtrl.collaborators.length") No collaborators
			div.collaborator(ng-repeat="user in FrameCtrl.collaborators", uib-tooltip="{{ user.name }}", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
				ui-placeholder.avatar(type="user", src="user.image", alt="{{ user.name }}")
				div.indicator(ng-style="{ 'background': user.color }")
					
		button#activity-toggle.btn.btn-sm.btn-default.toolbar-item(ng-model="FrameCtrl.activityOpen", uib-btn-checkbox)
			span.font-awesome &#xf0c0;
		
	#frame
		canvas#canvas(wireframe, data="FrameCtrl.wireframe", resize, keepalive="true", jqyoui-droppable)
				
		// Media library
		img(ng-repeat="media in FrameCtrl.media", ng-src="{{ media.large }}", id="{{ media._id }}", style="display:none")

		#frame-sidebar(ng-class="{ 'frame-sidebar-collapse': !FrameCtrl.activityOpen }")
			#toolbox.frame-sidebar-pane(ng-controller="ToolboxCtrl as ToolboxCtrl", ng-show="false")
				.frame-sidebar-content
					div(ng-repeat="category in ToolboxCtrl.categories")
						.frame-sidebar-panel-header
							h5.medium.loose.text-muted {{ category.name }}
						
						.frame-sidebar-panel
							div#toolbox-components
								div.toolbox-component(ng-repeat="component in ToolboxCtrl.components | filter:{ category: category.name }", ng-click="ToolboxCtrl.onComponentClick(component)", title="{{ component.title }}", ui-draggable, ui-draggable-end="ToolboxCtrl.onComponentDragEnd($event, component)")
									svg-replace(ng-src="{{ component.preview }}")
							
							
			#properties-pane.frame-sidebar-pane(ng-controller="PropertiesCtrl as PropertiesCtrl", ng-show="false")
				.frame-sidebar-content.form
					div.text-center(ng-if="PropertiesCtrl.selection.length == 0")
						div.h3.text-muted
							i.font-awesome &#xf05e;
							
						p.h5.text-muted No component selected
					
					div(ng-if="PropertiesCtrl.selection.length == 1")
						.frame-sidebar-panel-header
							h5.medium.loose.text-muted Properties
							
						.frame-sidebar-panel
							p.frame-sidebar-panel-placeholder.h5.text-muted(ng-if="!PropertiesCtrl.selection[0].properties.length") No editable properties
							
							ul.properties(ng-if="PropertiesCtrl.selection[0].properties.length")
								li.form-group.form-group-sm(ng-repeat="property in PropertiesCtrl.selection[0].properties")
									label.form-label.h5.text-muted {{ property.label }}
									
									div.property-controls
										div.property-control(ng-repeat="control in property.controls")
											div(ng-class="{ 'input-group': control.unit, 'input-group-sm': control.unit }")
												select.form-control(ng-if="control.ui == 'select'", placeholder="{{ control.placeholder }}", ng-options="o.value as o.label for o in control.options", ng-model="PropertiesCtrl.models[control.model]", ng-change="PropertiesCtrl.onPropertyControlChange(control)")
												ui-image.h6(ng-if="control.ui == 'file'", ng-model="PropertiesCtrl.models[control.model]", ui-image-change="PropertiesCtrl.onMediaPropertyControlChange(control, { media: media })")
												ui-icon.h6(ng-if="control.ui == 'icon'", ng-model="PropertiesCtrl.models[control.model]", ui-icon-change="PropertiesCtrl.onPropertyControlChange(control)")
												input.form-control(ng-if="!control.ui || control.ui == 'text'", type="text", placeholder="{{ control.placeholder }}", focus-on="control.focus", ng-model="PropertiesCtrl.models[control.model]", ng-focus="PropertiesCtrl.onPropertyControlFocus(control)", ng-blur="PropertiesCtrl.onPropertyControlBlur(control)", ng-keydown="PropertiesCtrl.onPropertyControlKeydown(control, $event)")
											
												span.input-group-addon(ng-if="control.unit") {{ control.unit }}
												
						.frame-sidebar-panel-header
							h5.medium.loose.text-muted Layout
							
						.frame-sidebar-panel
							ul.properties(ng-if="PropertiesCtrl.selection.length")
								li.form-group.form-group-sm
									label.form-label.h5.text-muted Position
									
									div.property-controls
										div.property-control
											div.input-group.input-group-sm
												input.form-control(type="text", placeholder="Left")
												span.input-group-addon px
												
										div.property-control
											div.input-group.input-group-sm
												input.form-control(type="text", placeholder="Top")
												span.input-group-addon px
											
								li.form-group
									label.form-label.h5.text-muted Dimensions
									
									div.property-controls
										div.property-control
											div.input-group.input-group-sm
												input.form-control(type="text", placeholder="Width")
												span.input-group-addon px
												
										div.property-control
											div.input-group.input-group-sm
												input.form-control(type="text", placeholder="Height")
												span.input-group-addon px
										
			
			#activity-pane.frame-sidebar-pane(ng-controller="ActivityCtrl as ActivityCtrl")
				#activity-list.frame-sidebar-content(scroll-lock)
					div.frame-sidebar-panel
						div.activity-block(ng-repeat="activity in FrameCtrl.activities", ng-class="{ 'is-first': (activity | activityShowHeader:FrameCtrl.activities[$index-1]), 'is-sequence': (activity | activityCollapseItem:FrameCtrl.activities[$index-1]) }")
							div.activity(ng-class="{ 'is-author': FrameCtrl.getCurrentUser()._id == activity.user._id }", title="{{ activity.created_at | momentPattern:'MMM D YYYY h:mm:ss a' }}")
								div.activity-author(ng-if="activity.type == 'chat'")
									div.activity-avatar
										ui-placeholder.avatar(type="user", src="activity.user.image", title="{{ activity.user.name }}")
									
									div.activity-info
										span.activity-name.h5.medium(ng-hide="activity | activityCollapseItem:FrameCtrl.activities[$index-1]") {{ activity.user.name }} 
										span.activity-time.h6.text-muted {{ activity.created_at | momentCalendar:'d' }}
											
								div.activity-content
									span(ng-switch="activity.type")
										span.text-muted(ng-switch-when="new-frame")
											span.activity-time.h6.text-muted {{ activity.created_at | momentCalendar:'d' }}
											span.medium {{ activity.user.name }} 
											| created the wireframe
										
										span.text-muted(ng-switch-when="added-user")
											span.activity-time.h6.text-muted {{ activity.created_at | momentCalendar:'d' }}
											span.medium {{ activity.user.name }} 
											| added 
											span {{ activity.data.users[0].name }} 
											| to the wireframe
											
										span(ng-switch-when="chat") {{ activity.data.message }}
								
				form#activity-form.frame-sidebar-toolbar.frame-sidebar-toolbar-bottom(ng-submit="ActivityCtrl.onActivityFormSubmit()")
					textarea.form-control(msd-elastic, ng-model="ActivityCtrl.newMessage", ng-keydown="ActivityCtrl.onActivityChatKeyDown($event)", placeholder="Type a message...")
								
			#view-pane.frame-sidebar-pane(ng-show="false")
				.frame-sidebar-content
					.frame-sidebar-panel-header
						h5.medium.loose.text-muted Viewport
						
					.frame-sidebar-panel
						ul.properties
							li.property.form-group.form-group-sm(uib-dropdown)
								label.form-label.h5.text-muted Zoom
								
								div.property-controls
									div.property-control
										button.btn.btn-default.btn-sm(uib-dropdown-toggle) 
											| {{ FrameCtrl.view.zoom * 100 }}% 
											span.caret
										
										ul.uib-dropdown-menu
											li(ng-repeat="zoom in FrameCtrl.ZOOM_LEVELS")
												a(ng-click="FrameCtrl.onToolbarZoomLevelClick(zoom)", ng-class="{ strong: zoom == FrameCtrl.view.zoom }") {{ zoom * 100 }}%
							
							li.property.form-group.form-group-sm			
								label.form-label.h5.text-muted Options
									
								div.property-controls
									div.property-control.checkbox-group
										label
											input(type="checkbox")
											span.h6  Grid
									
										label
											input(type="checkbox")
											span.h6  Snap to grid
											
										label
											input(type="checkbox")
											span.h6  Guides
	
			#settings-pane.frame-sidebar-pane(ng-show="false")
				.frame-sidebar-content.form-horizontal
					div.form-group.form-group-sm
						label.control-label.h6 Name
						input.form-control
																
			#download-pane.frame-sidebar-pane(ng-show="false")
				.frame-sidebar-content
					div#download-dl
						button.btn.btn-small.btn-default.btn-block Download SVG
						button.btn.btn-small.btn-default.btn-block Download PNG
						button.btn.btn-small.btn-default.btn-block Download PDF
					
					div#download-print
						button.btn.btn-small.btn-success.btn-block 
							span.font-awesome &#xf02f; 
							| Print
