$leftSidebarWidth: 280px;
$leftSidebarPaddingVertical: 25px;
$leftSidebarPaddingHorizontal: 16px;

$chromeBackground: rgba(255,255,255,0.9);

$canvasMargin: 15px;

$gunmetal: #7c8285;

$sidebarDefaultWidth: 280px;
$sidebarPadding: 15px;
$sidebarBorderColor: #dedede;

#frame {
	@include display-flex;
	@include flex-direction(row);
	@include flex-grow(1);
	height: 100%;
	z-index: 1;
	background-size: auto 100%;
	background: url('/assets/images/frame-sidebar-bg.jpg') left top no-repeat;
	-webkit-font-smoothing: antialiased;

	#frame-sidebar-mode {
		@include display-flex;
		@include flex-direction(column);
		position: relative;
		height: 100%;
		width: 50px;
		background: rgba(#4a4a4a, 0.64) url('/assets/images/frame-sidebar-bg.jpg') left top no-repeat;
		background-blend-mode: multiply;
		z-index: 3;

		li {
			text-align: center;

			&:hover {
				background: rgba(#202222, 0.8);
				cursor: pointer;
			}

			&:active {
				background: rgba(#101212, 1.0);
			}

			&.active {
				@include background-image(linear-gradient(74deg, rgb(164,214,78) 0%, rgb(255,192,0) 100%));
			}

			&,
			a {
				width: 100%;
				height: 50px;
				color: #e4e4e4;

				&.active {
					color: white;
				}
			}

			a {
				display: block;
				text-decoration: none;
			}

			.icon {
				line-height: 50px;
				font-size: 24px;
			}
		}
	}

	#frame-sidebar {
		position: absolute;
		height: 100%;
		width: $sidebarDefaultWidth;
		@include transition(all 0.3s ease-in-out);
		border-right: 1px solid #d9d9d9;
		background-image: linear-gradient(rgba(#ffffff, 0.85), rgba(#ffffff, 0.85)), url('/assets/images/frame-sidebar-bg.jpg');
		background-position: left top;
		background-repeat: no-repeat;
		background-attachment: local, fixed;
		background-blend-mode: screen;
		z-index: 2;

		&.frame-sidebar-collapse {
			@include transform(translateX(-$sidebarDefaultWidth));
		}

		.frame-sidebar-pane {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			@include display-flex;
			@include flex-direction(column);
			@include box-sizing(border-box);
			@include flex-shrink(0);

			&.ng-hide-add {
				@include transition(opacity 70ms);
				opacity: 1;

				&.ng-hide-add-active {
					opacity: 0;
				}
			}

			&.ng-hide-remove {
				@include transition(opacity 70ms);
				opacity: 0;

				&.ng-hide-remove-active {
					opacity: 1;
				}
			}
		}

		.frame-sidebar-content {
			padding-left: $sidebarPadding;
			padding-right: $sidebarPadding;
		}

		.frame-sidebar-toolbar {
			@include box-sizing(border-box);
			min-height: 34px;
			padding: $sidebarPadding;
			background: rgba($gunmetal, 0.1);

			&.ui-sidebar-toolbar-top {
				border-bottom: 1px solid $sidebarBorderColor;
			}

			&.ui-sidebar-toolbar-bottom {
				border-top: 1px solid $sidebarBorderColor;
			}
		}
	}

	#download-pane {
		padding-top: $sidebarPadding;

		#download-print {
			margin-top: $sidebarPadding;
			padding-top: $sidebarPadding;
			border-top: 1px solid $sidebarBorderColor;
		}
	}

	#canvas-wrapper {
		position: relative;
		@include display-flex;
		@include flex-grow(1);
		@include flex-direction(column);
		height: 100%;
		z-index: 1;

		#canvas-toolbar {
			$toolbarHeight: 50px;
			$toolbarPadding: 10px;

			@include display-flex;
			@include box-sizing(border-box);
			height: $toolbarHeight;
			padding: 11px $toolbarPadding;
			background: #f3f3f3;

			&.sidebarOpen {
				padding-left: $sidebarDefaultWidth + $toolbarPadding;
			}

			& > .btn-group,
			& > .btn,
			& > .dropdown {
				& + .btn-group,
				& + .btn,
				& + .dropdown {
					margin-left: $toolbarPadding;
				}
			}

			.btn:focus {
				outline: 0;
			}

			.btn {
				.font-awesome.flip {
					display: inline-block;
					@include transform(rotateY(180deg));
				}
			}

			& > .divider {
				width: 1px;
				margin: 0 $toolbarPadding;
				background: #ccc;
			}
		}

		#canvas {
			@include flex-grow(1);
			width: 100%;
			z-index: 1;
			background: white;
		}
	}

	#collaborators {
		$collaboratorAvatarSize: 40px;

		position: relative;
		z-index: 2;
		@include clearfix;

		.collaborator {
			position: relative;
			float: left;

			& + .collaborator {
				margin-left: 5px;
			}

			&.ng-enter {
				@include transition(all 300ms $easeInOutQuint);
				@include transform(translateY($canvasMargin + $collaboratorAvatarSize));

				&.ng-enter-active {
					@include transform(translateY(0));
				}
			}

			&.ng-leave {
				@include transition(all 300ms $easeInOutQuint);
				@include transform(translateY(0));

				&.ng-leave-active {
					@include transform(translateY($canvasMargin + $collaboratorAvatarSize));
				}
			}

			.avatar {
				display: block;
				width: $collaboratorAvatarSize;
				height: $collaboratorAvatarSize;
				border-radius: $collaboratorAvatarSize/2;
				background: white;
			}

			.indicator {
				position: absolute;
				right: 2px;
				bottom: 2px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
			}
		}
	}

	.bottomRight {
		position: absolute;
		bottom: $canvasMargin;
		right: $sidebarDefaultWidth + $canvasMargin;
	}
}
