div.fullscreen-wrapper
	#frame
		ul#frame-sidebar-mode
			li(title="Close")
				a(ui-sref="frames")
					span.icon.font-awesome 
					span.sr-only Close
				
			li(title="Toolbox", ng-class="{ active: FrameCtrl.sidebarMode == 'toolbox' }", ng-click="FrameCtrl.onSidebarModeClick('toolbox')")
				span.icon.font-awesome 
				span.sr-only Toolbox
				
			li(title="Properties", ng-class="{ active: FrameCtrl.sidebarMode == 'properties' }", ng-click="FrameCtrl.onSidebarModeClick('properties')")
				span.icon.font-awesome 
				span.sr-only Properties
				
			li(title="View", ng-class="{ active: FrameCtrl.sidebarMode == 'view' }", ng-click="FrameCtrl.onSidebarModeClick('view')")
				span.icon.font-awesome 
				span.sr-only View
				
			li(title="Activity", ng-class="{ active: FrameCtrl.sidebarMode == 'activity' }", ng-click="FrameCtrl.onSidebarModeClick('activity')")
				span.icon.font-awesome 
				span.sr-only Activity
				
			li(title="Settings", ng-class="{ active: FrameCtrl.sidebarMode == 'settings' }", ng-click="FrameCtrl.onSidebarModeClick('settings')")
				span.icon.font-awesome 
				span.sr-only Settings
			
		#frame-sidebar(ng-class="{ 'frame-sidebar-collapse': !FrameCtrl.sidebarMode }")
			#toolbox.frame-sidebar-pane(ng-controller="ToolboxController as ToolboxController", ng-show="FrameCtrl.sidebarMode == 'toolbox'")
				.frame-sidebar-content
					div#toolbox-categories.h6
						span.toolbox-category.medium.active(ng-click="ToolboxController.onAllCategoriesClick()", ng-class="{ active: ToolboxController.all }") All
						span.toolbox-category.medium(ng-repeat="category in ToolboxController.categories", ng-class="{ active: category.active }", ng-click="ToolboxController.onCategoryClick(category)") {{ category.name }}

					div#toolbox-components
						div.toolbox-component(ng-repeat="component in ToolboxController.components | filter:ToolboxController.filterPredicate()", ng-click="ToolboxController.onComponentClick(component)", title="{{ component.title }}", ui-draggable, ui-draggable-end="ToolboxController.onComponentDragEnd($event, component)")
							svg-replace(ng-src="{{ component.preview }}")
							
			#properties-pane.frame-sidebar-pane(ng-controller="PropertiesCtrl as PropertiesCtrl", ng-show="FrameCtrl.sidebarMode == 'properties'")
				.frame-sidebar-content.form
					p.text-center.text-muted(ng-if="PropertiesCtrl.selection.length == 0") No selection
					ul.properties(ng-if="PropertiesCtrl.selection.length == 1")
						li.form-group.form-group-sm(ng-repeat="property in PropertiesCtrl.selection[0].properties")
							label.form-label.h6 {{ property.label }}
							
							div.property-control(ng-repeat="control in property.controls", ng-switch="control.ui")
								select.form-control(ng-switch-when="select", placeholder="{{ control.placeholder }}", ng-options="o.value as o.label for o in control.options", ng-model="PropertiesCtrl.models[control.model]", ng-change="PropertiesCtrl.onPropertyControlChange(control)")
								ui-image.h6(ng-switch-when="file", ng-model="PropertiesCtrl.models[control.model]", ui-image-change="PropertiesCtrl.onMediaPropertyControlChange(control, { media: media })")
								ui-icon.h6(ng-switch-when="icon", ng-model="PropertiesCtrl.models[control.model]", ui-icon-change="PropertiesCtrl.onPropertyControlChange(control)")
								input.form-control(ng-switch-default, type="text", placeholder="{{ control.placeholder }}", focus-on="control.focus", ng-model="PropertiesCtrl.models[control.model]", ng-focus="PropertiesCtrl.onPropertyControlFocus(control)", ng-blur="PropertiesCtrl.onPropertyControlBlur(control)", ng-keydown="PropertiesCtrl.onPropertyControlKeydown(control, $event)")
					
					ul.properties(ng-if="PropertiesCtrl.selection.length")			
						li.form-group.form-group-sm
							label.form-label.h6 Position
							
							div.property-control
								input.form-control(type="text", placeholder="Left")
									
							div.property-control
								input.form-control(type="text", placeholder="Top")
									
						li.form-group.form-group-sm
							label.form-label.h6 Dimension
							
							div.property-control
								input.form-control(type="text", placeholder="Width")
									
							div.property-control
								input.form-control(type="text", placeholder="Height")
									
			
			#activity-pane.frame-sidebar-pane(ng-controller="ActivityCtrl as ActivityCtrl", ng-show="FrameCtrl.sidebarMode == 'activity'")
				#activity-list.frame-sidebar-content
					div.activity-block(ng-repeat="activity in FrameCtrl.activities", ng-class="{ 'is-first': (activity | activityShowHeader:FrameCtrl.activities[$index-1]) }")
						div.activity-time
							p.b3.medium.snug {{ activity.created_at | momentCalendar:'d' }}
						
						div.activity(ng-class="{ 'is-author': FrameCtrl.getCurrentUser()._id == activity.user._id, 'is-sequence': (activity | activityCollapseItem:FrameCtrl.activities[$index-1]) }", title="{{ activity.created_at | momentPattern:'MMM D YYYY h:mm:ss a' }}")
							div.activity-avatar
								ui-placeholder.avatar(type="user", src="activity.user.image", title="{{ activity.user.name }}")
							
							div.activity-info
								p.b2.medium.snug
									span.activity-name(ng-hide="activity | activityCollapseItem:FrameCtrl.activities[$index-1]") {{ activity.user.name }} 
									span(ng-switch="activity.type")
										span(ng-switch-when="new-frame") created the wireframe
										
										span(ng-switch-when="added-user") invited 
											span.activity-name {{ activity.data.users[0].name }}
											
										span(ng-switch-when="chat") {{ activity.data.message }}
								
				form#activity-form.frame-sidebar-toolbar.ui-sidebar-toolbar-bottom(ng-submit="ActivityCtrl.onActivityFormSubmit()")
					div.input-group
						input.form-control(type="text", ng-model="ActivityCtrl.newMessage")
						span.input-group-btn
							button.btn.btn-xs.btn-success(type="submit")
								span.h3.strong.loose.uppercase +
									
		#frame-wrapper
			#frame-layout
				#canvas-area
					ui-tray-region(position="left")
					ui-tray-region(position="right")
						
					canvas#canvas(wireframe, data="FrameCtrl.wireframe", resize, keepalive="true", jqyoui-droppable)
						
					// Media library
					img(ng-repeat="media in FrameCtrl.media", ng-src="{{ media.large }}", id="{{ media._id }}", style="display:none")
		
		div.bottomRight(ng-hide="true")
			#collaborators
					.collaborator(ng-repeat="user in FrameCtrl.collaborators", ui-tooltip="user.name")
						ui-placeholder.avatar(type="user", src="user.image", title="{{ user.name }}")
						div.indicator(ng-style="{ 'background': user.color }")
