@import "../library/bootstrap/assets/stylesheets/bootstrap/_variables";

$leftSidebarWidth: 280px;
$leftSidebarPaddingVertical: 25px;
$leftSidebarPaddingHorizontal: 16px;

$chromeBackground: rgba(255,255,255,0.9);

$canvasMargin: 15px;

$sidebarDefaultWidth: 275px;
$sidebarPadding: 25px;
$sidebarBorderColor: #dedede;

$toolbarHeight: 50px;
$toolbarPaddingHorizontal: 10px;

@keyframes sidebar-elastic-entry {
	0% {
		@include transform(translateX(-1 * $sidebarDefaultWidth));
	}
	20% {
		@include transform(translateX(0.1 * $sidebarDefaultWidth));
	}
	40% {
		@include transform(translateX(-0.025 * $sidebarDefaultWidth));
	}
	60% {
		@include transform(translateX(0 * $sidebarDefaultWidth));
	}
	100% {
		@include transform(translateX(0 * $sidebarDefaultWidth));
	}
}

@keyframes toolbar-sidebar-elastic-entry {
	0% {
		padding-left: $toolbarPaddingHorizontal + 0 * $sidebarDefaultWidth;
	}
	20% {
		padding-left: $toolbarPaddingHorizontal + 1.1 * $sidebarDefaultWidth;
	}
	40% {
		padding-left: $toolbarPaddingHorizontal + 0.975 * $sidebarDefaultWidth;
	}
	60% {
		padding-left: $toolbarPaddingHorizontal + 1 * $sidebarDefaultWidth;
	}
	100% {
		padding-left: $toolbarPaddingHorizontal + 1 * $sidebarDefaultWidth;
	}
}

#frame {
	@include display-flex;
	@include flex-direction(row);
	@include flex-grow(1);
	height: 100%;
	z-index: 1;
	background-size: auto 100%;
	background: url('/assets/images/frame-sidebar-bg.jpg') left top no-repeat;
	-webkit-font-smoothing: antialiased;

	#frame-sidebar-mode {
		@include display-flex;
		@include flex-direction(column);
		@include flex-shrink(0);
		position: relative;
		height: 100%;
		width: 50px;
		background: rgba(#4a4a4a, 0.64) url('/assets/images/frame-sidebar-bg.jpg') left top no-repeat;
		background-blend-mode: multiply;
		z-index: 3;

		li {
			position: relative;
			text-align: center;

			&:hover {
				background: rgba(#202222, 0.8);
				cursor: pointer;
			}

			&:active {
				background: rgba(#101212, 1.0);
			}

			&.active {
				@include background-image(linear-gradient(74deg, rgb(164,214,78) 0%, rgb(255,192,0) 100%));

				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					height: 0;
					width: 0;
					margin-top: -6px;
					border-right: 6px solid white;
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
				}
			}

			&,
			a {
				width: 100%;
				height: 50px;
				color: #e4e4e4;

				&.active {
					color: white;
				}
			}

			a {
				display: block;
				text-decoration: none;
			}

			.icon {
				line-height: 50px;
				font-size: 24px;
			}
		}
	}

	#frame-sidebar {
		$animationExtension: 100px;		// show/hide animation needs extra width so
																	// gap doesn't appear on the left

		position: absolute;
		height: 100%;
		width: $sidebarDefaultWidth + $animationExtension;
		margin-left: -$animationExtension;
		border-right: 1px solid #eee;
		background: white;
		z-index: 2;

		&.frame-sidebar-collapse-add {
			@include transition(transform 0.16s ease-in);
		}

		&.frame-sidebar-collapse {
			@include transform(translateX(-100%));
		}

		&.frame-sidebar-collapse-remove {
			@include animation(sidebar-elastic-entry 0.8s);
		}

		.frame-sidebar-pane {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding-left: $animationExtension;
			color: $text-color;
			@include display-flex;
			@include flex-direction(column);
			@include box-sizing(border-box);
			@include flex-shrink(0);

			&.ng-hide-add {
				@include transition(opacity 70ms);
				opacity: 1;

				&.ng-hide-add-active {
					opacity: 0;
				}
			}

			&.ng-hide-remove {
				@include transition(opacity 70ms);
				opacity: 0;

				&.ng-hide-remove-active {
					opacity: 1;
				}
			}
		}

		.frame-sidebar-content {
			.frame-sidebar-panel-header {
				height: 50px;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
				padding: 0 $sidebarPadding;

				h5 {
					margin-top: 0;
					margin-bottom: 0;
					line-height: 50px;
				}
			}

			.frame-sidebar-panel {
				padding: 0 $sidebarPadding 45px;
			}
		}

		.frame-sidebar-panel-placeholder {
			margin-top: 21px;
		}

		.properties {
      li {
        margin-bottom: 0;
      }

			.form-label {
	      margin-top: 21px;
	      margin-bottom: 0;
	    }

	    .property-controls {
	      @include display-flex;
	      @include align-items(center);
	      margin-top: 9px;

	      .property-control {
	        @include flex-basis(1px);
	        @include flex-grow(1);

	        & + .property-control {
	          margin-left: 25px;
	        }
	      }
	    }

	    .checkbox-group {
	      label {
	        display: block;
	      }
	    }
    }

		.frame-sidebar-toolbar {
			@include box-sizing(border-box);
			min-height: 34px;
			padding: $sidebarPadding;

			&.ui-sidebar-toolbar-top {
				border-bottom: 1px solid $sidebarBorderColor;
			}

			&.ui-sidebar-toolbar-bottom {
				border-top: 1px solid $sidebarBorderColor;
			}
		}
	}

	#download-pane {
		padding-top: $sidebarPadding;

		#download-print {
			margin-top: $sidebarPadding;
			padding-top: $sidebarPadding;
			border-top: 1px solid $sidebarBorderColor;
		}
	}

	#canvas-wrapper {
		position: relative;
		@include display-flex;
		@include flex-grow(1);
		@include flex-direction(column);
		height: 100%;
		z-index: 1;

		#canvas-toolbar {
			@include display-flex;
			@include flex-shrink(0);
			@include align-items(center);
			@include box-sizing(border-box);
			@include transition(padding-left 0.3s ease-in-out);
			height: $toolbarHeight;
			padding: 0 $toolbarPaddingHorizontal;
			border-bottom: 1px solid #eee;
			background: white;

			&.sidebar-open-add {
				@include animation(toolbar-sidebar-elastic-entry 0.8s);
			}

			&.sidebar-open {
				padding-left: $sidebarDefaultWidth + $toolbarPaddingHorizontal;
			}

			&.sidebar-open-remove {
				@include transition(padding-left 0.16s ease-in);
			}

			& > .toolbar-item {
				& + .toolbar-item {
					margin-left: $toolbarPaddingHorizontal;
				}

				&.right,
				& + .toolbar-item.right {
					margin-left: auto;
				}
			}

			.btn:focus {
				outline: 0;
			}

			.btn {
				.font-awesome.flip {
					display: inline-block;
					@include transform(rotateY(180deg));
				}
			}

			& > .divider {
				width: 1px;
				margin: 0 $toolbarPaddingHorizontal;
				background: #ccc;
			}
		}

		#canvas {
			@include flex-grow(1);
			width: 100%;
			z-index: 1;
			background: #cdcdcd;
		}
	}

	#collaborators {
		$collaboratorAvatarSize: 32px;

		@include display-flex;
		@include align-items(center);
		position: relative;
		height: $toolbarHeight;
		z-index: 2;
		overflow: hidden;

		.collaborator {
			position: relative;

			& + .collaborator {
				margin-left: 5px;
			}

			&.ng-enter {
				@include transition(all 300ms $easeInOutQuint);
				@include transform(translateY($canvasMargin + $collaboratorAvatarSize));

				&.ng-enter-active {
					@include transform(translateY(0));
				}
			}

			&.ng-leave {
				@include transition(all 300ms $easeInOutQuint);
				@include transform(translateY(0));

				&.ng-leave-active {
					@include transform(translateY($canvasMargin + $collaboratorAvatarSize));
				}
			}

			.avatar {
				display: block;
				width: $collaboratorAvatarSize;
				height: $collaboratorAvatarSize;
				border-radius: $collaboratorAvatarSize/2;
				background: white;
			}

			.indicator {
				position: absolute;
				right: 1px;
				bottom: 1px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
			}
		}
	}
}
