div.fullscreen-wrapper
	div#navbar.row.blue.light.border-light(ng-include='"components/navbar/navbar.html"')
		
	div#actionbar.row.blue.light.border
		span.action.action-menu.b3.roboto.semibold(ui-action-menu) File
			div.action-menu-items
				a.action-menu-item(ng-click="FrameCtrl.onActionbarSettingsClick()")
					span.action-menu-item-label Settings
					span.action-menu-item-shortcut 
						span(ng-bind-html="'ctrl' | symbol")
						| ,
					
				a.action-menu-item.divider(ui-sref="frames")
					span.action-menu-item-label Close
					span.action-menu-item-shortcut 
						span(ng-bind-html="'shift' | symbol")
						span(ng-bind-html="'ctrl' | symbol")
						| W
					
		span.action.action-menu.b3.roboto.semibold(ui-action-menu) Edit
			div.action-menu-items
				a.action-menu-item
					span.action-menu-item-label Copy
					span.action-menu-item-shortcut
						span(ng-bind-html="'ctrl' | symbol")
						| C
					
				a.action-menu-item
					span.action-menu-item-label Cut
					span.action-menu-item-shortcut
						span(ng-bind-html="'ctrl' | symbol")
						| X
				
				a.action-menu-item
					span.action-menu-item-label Paste
					span.action-menu-item-shortcut 
						span(ng-bind-html="'ctrl' | symbol")
						| V
					
				a.action-menu-item.divider
					span.action-menu-item-label Select all
					span.action-menu-item-shortcut 
						span(ng-bind-html="'ctrl' | symbol")
						| A
					
		span.action.action-menu.b3.roboto.semibold(ui-action-menu) Export
			div.action-menu-items
				a.action-menu-item(ng-click="FrameCtrl.onActionbarSaveAsPngClick()")
					span.action-menu-item-label Save as PNG
					span.action-menu-item-shortcut
						span(ng-bind-html="'ctrl' | symbol")
						| N
					
				a.action-menu-item
					span.action-menu-item-label Save as PDF
					span.action-menu-item-shortcut
						span(ng-bind-html="'ctrl' | symbol")
						| N
					
				a.action-menu-item
					span.action-menu-item-label Save as SVG
					span.action-menu-item-shortcut
						span(ng-bind-html="'ctrl' | symbol")
						| N
					
				a.action-menu-item.divider
					span.action-menu-item-label Export to Omnigraffle
					
				a.action-menu-item
					span.action-menu-item-label Export to Balsamiq
			
		span.action.action-menu.b3.roboto.semibold(ui-action-menu) View
			div.action-menu-items
				a.action-menu-item
					span.action-menu-item-label Goto artboard
					span.action-menu-item-shortcut 
						span(ng-bind-html="'ctrl' | symbol")
						| 1-9
					
				a.action-menu-item.divider
					span.action-menu-item-label Show minimap
						
				a.action-menu-item
					span.action-menu-item-label Show properties
					span.action-menu-item-shortcut
						span(ng-bind-html="'shift' | symbol")
						span(ng-bind-html="'ctrl' | symbol")
						| P
					
				a.action-menu-item.divider
					span.action-menu-item-label Toggle grid
					span.action-menu-item-shortcut 
						span(ng-bind-html="'alt' | symbol")
						span(ng-bind-html="'ctrl' | symbol")
						| ,
					
				a.action-menu-item
					span.action-menu-item-label Toggle annotations
					span.action-menu-item-shortcut
						span(ng-bind-html="'alt' | symbol")
						span(ng-bind-html="'ctrl' | symbol")
						| R
					
				a.action-menu-item
					span.action-menu-item-label Toggle fullscreen
					span.action-menu-item-shortcut tab
					
		a.action.b3.roboto.semibold(ng-click="FrameCtrl.onActionbarShareClick()") Share

	#frame		
		#quick-add(ng-show="FrameCtrl.quickAdd.open")
			#quick-add-search
				svg.search-icon(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-510.2 681.1 100.2 100" style="enable-background:new -510.2 681.1 100.2 100;" xml:space="preserve")
					path(d="M-410.7,770.2l-31.3-31.3c4.1-6.1,6.2-13.2,6.2-20.6c0-9.9-3.9-19.3-10.9-26.3s-16.3-10.9-26.3-10.9c-9.9,0-19.3,3.9-26.3,10.9s-10.9,16.3-10.9,26.3s3.9,19.3,10.9,26.3s16.3,10.9,26.3,10.9c7.5,0,14.7-2.2,20.8-6.4l31.3,31.3c1.1,1.1,3,0.8,4.3-0.5l5.3-5.3C-409.8,773.2-409.6,771.3-410.7,770.2z M-472.9,745.4c-14.9,0-27.1-12.1-27.1-27.1s12.2-27.1,27.1-27.1c14.9,0,27.1,12.2,27.1,27.1S-457.9,745.4-472.9,745.4z")

				input(ng-model="FrameCtrl.quickAdd.query", type="text", placeholder="Search for components...", focus-on="FrameCtrl.quickAdd.focus", ng-keydown="FrameCtrl.onActionbarQuickAddKeyDown($event)")
					
			#quick-add-results(ng-show="FrameCtrl.quickAdd.query && FrameCtrl.quickAdd.results.length")
				.component(ng-repeat="component in FrameCtrl.quickAdd.results | limitTo:4", ng-class="{ active: $index == FrameCtrl.quickAdd.index }", ng-click="FrameCtrl.onActionbarQuickAddComponentClick(component)")
					.thumbnail(ng-style="{ 'background-image': 'url(' + component.thumbnail + ')' }")

					.text
						span.name {{ component.title }}
			
		#frame-layout
			#canvas-area
				ui-tray-region(position="left")
				ui-tray-region(position="right")
					
				canvas#canvas(wireframe, data="FrameCtrl.wireframe", resize, keepalive="true")
				
			#activity-pane.ui-sidebar(ng-controller="ActivityCtrl as ActivityCtrl")
				
				.ui-sidebar-toolbar.ui-sidebar-toolbar-top
				
				#activity-list.ui-sidebar-content
					p.activity-time.b4.medium Yesterday 4:23 pm
					
					div.activity(ng-repeat="activity in FrameCtrl.activities", ng-class="{ isAuthor: FrameCtrl.getCurrentUser()._id == activity.user._id, isSequence: activity.user._id == FrameCtrl.activities[$index-1].user._id }")
						div.activity-avatar
							ui-placeholder.avatar(ng-if="activity.user.provider == 'facebook'", type="user", src="'http://graph.facebook.com/' + activity.user.facebook.id + '/picture?type=large'", title="{{ activity.user.name }}")
							ui-placeholder.avatar(ng-if="activity.user.provider != 'facebook'", type="user", title="{{ activity.user.name }}")
						
						div.activity-info
							p.body.b3.medium.roboto
								span.activity-name(ng-hide="activity.user._id == FrameCtrl.activities[$index-1].user._id") {{ activity.user.name }} 
								| {{ activity.type == 'chat' ? activity.message : activity._id }}
								
				form#activity-form.ui-sidebar-toolbar.ui-sidebar-toolbar-bottom(ng-submit="ActivityCtrl.onActivityFormSubmit()")
					input.ui-input(type="text", ng-model="ActivityCtrl.newMessage")
					button.ui-button.success(type="submit")
						span.h3.strong.loose.uppercase +
		
		div.bottomRight
			#collaborators
					.collaborator(ng-repeat="user in FrameCtrl.collaborators", ui-tooltip="user.name")
						ui-placeholder.avatar(ng-if="user.provider == 'facebook'", type="user", src="'http://graph.facebook.com/' + user.facebook.id + '/picture?type=large'", title="{{ user.name }}")
						ui-placeholder.avatar(ng-if="user.provider != 'facebook'", type="user", title="{{ user.name }}")
						div.indicator(ng-style="{ 'background': user.color }")
