$leftSidebarWidth: 300px;
$canvasMargin: 20px;

#frame {
	$sidebarColumns: 4;
	$sidebarPadding: 10px;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	-webkit-font-smoothing: antialiased;

	.sidebar,
	#canvas {
		position: relative;
		
		&,
		.inner {
			height: 100%;
		}
	}
	
	#canvas {
		z-index: 1;
		background: white;
	}
	
	#toggleLeftSidebar {
		position: absolute;
		left: $canvasMargin;
		top: $canvasMargin;
		width: 18px;
		height: 0;
		padding-top: 26px;
		border: none;
		overflow: hidden;
		z-index: 2;
		background: url('/assets/images/icon-open-leftsidebar@2x.png') no-repeat;
		background-size: contain;
		opacity: 0.3;
		cursor: pointer;
		@include transition(transform 200ms);
		
		&:hover {
			opacity: 0.5;
		}
		
		&:focus {
			outline: none;
		}
		
		&.open {
			@include transform(translateX($leftSidebarWidth));
		}
	}

	.sidebar {
		background: #edeff1;
		border-right: 1px solid shade(#edeff1, 7); 
		
		&.open {
			@include transform(translateX($leftSidebarWidth));
		}
		
		position: absolute;
		left: -$leftSidebarWidth;
		z-index: 2;
		width: $leftSidebarWidth;
		padding: 25px 16px;
		@include box-sizing(border-box);
		@include transition(transform 200ms);
		@include nested(4) {
			#quickAdd {
				input {
					@include span(full);
					padding: 5px 10px;
				}
			}

			#components {
				.component {
					margin-top: $chromeMarginSmall;
					padding: $chromePaddingSmall;
					background: white;
					border: 1px solid $chromeBorderLight;
					border-radius: $chromeBorderRadiusMedium;
					cursor: pointer;
					
					&:hover {
						border-color: $chromeBorderMedium;
					}
					
					&:active {
						border-color: $chromeBorderDark;
					}

					.thumbnail {
						@include span(1 after);
						height: 50px;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}

					.text {
						@include span(3 last after);
						margin-top: 14px;

						.name,
						.tags {
							display: block;
						}

						.name {
							font-size: 15px;
							font-weight: 500;
							letter-spacing: 0.01em; 
							color: #4d7cb8;
						}

						.tags {
							margin-top: 2px;
							font-size: 9px;
							letter-spacing: 0.01em;
							color: #b6c1ce;
						}
					}
				}
			}
		}
	}
	
	#collaborators {
		position: relative;
		z-index: 2;
		@include clearfix;
		
		.collaborator {
			float: left;
			
			& + .collaborator {
				margin-left: 5px;
			}
			
			.image {
				display: block;
				width: 40px;
				height: 40px;
				border-radius: 20px;
			}
			
			.indicator {
				position: absolute;
				right: 2px;
				bottom: 2px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
			}
		}
	}

	#canvas {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
	
	.bottomRight {
		position: absolute;
	}
	
	.bottomRight {
		bottom: $canvasMargin;
		right: $canvasMargin;
	}
}