#frame
	.sidebar
		#quickAdd.row
			input(ng-model="quickAdd", type="text", placeholder="Quick add (+)", ng-keydown="onQuickAddKeyDown($event)")

		#components
			.component.row(ng-repeat="component in components | filter:quickAdd", ng-click="onComponentClick(component)")
				.thumbnail
					img(src="/assets/images/sample-component-tn@2x.png", width="25", height="51")

				.text
					span.name {{ component.name }}
					span.tags {{ component.tags.join(', ') }}

	canvas#canvas(wireframe, data="wireframe", resize)