// Header
#fullscreen-wrapper
	#header(ng-controller="NavbarCtrl")
		div.header-navigation
			a.header-navigation-back.h6.medium(ui-sref="project.frames({ id: FrameCtrl.frame.project._id })")
				span.font-awesome &#xf053;
				span {{ FrameCtrl.frame.project.name }}

			div.header-navigation-title.h4 {{ FrameCtrl.frame.name }}

			div.header-navigation-right.h6.medium
				div#identity(ng-show="isLoggedIn()", uib-dropdown="", dropdown-append-to-body="true")
					a.ui-dropdown-toggle(uib-dropdown-toggle="")
						ui-placeholder(type="user", src="getCurrentUser().image")
						span {{ getCurrentUser().name }}
						span.font-awesome &#xf078;

					ul(uib-dropdown-menu="")
						li
							a {{ getCurrentUser().name }}

						li.divider
								
						li(ng-class="{active: isActive('/settings')}")
							a(href="/settings") Settings

						li(ng-class="{active: isActive('/logout')}")
							a(href="", ng-click="logout()") Log out

		div.header-toolbar(ng-controller="ToolbarCtrl as ToolbarCtrl")
			div(uib-dropdown, dropdown-append-to-body)
				button.header-toolbar-button.header-toolbar-item(uib-dropdown-toggle)
					span.h6.medium
						| {{ FrameCtrl.view.zoom * 100 }}% 
						span.chevron
					
				div.uib-dropdown-menu
					li(ng-repeat="zoom in FrameCtrl.ZOOM_LEVELS")
						a(ng-click="FrameCtrl.onToolbarZoomLevelClick(zoom)", ng-class="{ strong: zoom == FrameCtrl.view.zoom }") {{ zoom * 100 }}%

			button.header-toolbar-button.header-toolbar-toggle.header-toolbar-item(ng-click="ToolbarCtrl.onToolbarFullscreenClick()", ng-class="{ active: ToolbarCtrl.isFullscreen }" uib-tooltip-html="'Full screen (' + ('ctrl' | symbol) + 'F)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800") 
				span.header-toolbar-icon.font-awesome &#xf065;
				
			div.header-toolbar-divider
				
			button.header-toolbar-button.header-toolbar-item(uib-tooltip-html="'Undo (' + ('ctrl' | symbol) + 'Z)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
				span.header-toolbar-icon.font-awesome &#xf0e2;
				
			button.header-toolbar-button.header-toolbar-item(uib-tooltip-html="'Redo (' + ('shift' | symbol) + ('ctrl' | symbol) + 'Z)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", disabled)
				span.header-toolbar-icon.font-awesome.fa-flip &#xf0e2;
				
			button.header-toolbar-button.header-toolbar-item(ng-click="FrameCtrl.onToolbarCopyClick()", uib-tooltip-html="'Copy (' + ('ctrl' | symbol) + 'C)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.selection.length")
				span.header-toolbar-icon.font-awesome &#xf0c5;
				
			button.header-toolbar-button.header-toolbar-item(ng-click="FrameCtrl.onToolbarCutClick()", uib-tooltip-html="'Cut (' + ('ctrl' | symbol) + 'X)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.selection.length")
				span.header-toolbar-icon.font-awesome &#xf0c4;
				
			button.header-toolbar-button.header-toolbar-item(ng-click="FrameCtrl.onToolbarPasteClick()", uib-tooltip-html="'Paste (' + ('ctrl' | symbol) + 'V)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.Clipboard.getItems().length")
				span.header-toolbar-icon.font-awesome &#xf0ea;
				
			div.header-toolbar-group
				div.header-toolbar-divider
					
				div#quick-add.header-toolbar-input-group.header-toolbar-item(uib-dropdown, ng-if="false")
					span.header-toolbar-input-group-addon
						span.font-awesome &#xf0e7;
							
					input.header-toolbar-input(ng-model="ToolbarCtrl.quickAdd.value", uib-typeahead="component.title for component in ToolbarCtrl.components | filter:{ title: $viewValue }", typeahead-on-select="ToolbarCtrl.onQuickAddSelect($item)", typeahead-append-to-body="true", focus-on="ToolbarCtrl.quickAdd.focus", placeholder="Quick add...")
						
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onAlignLeftClick()", uib-tooltip="Align items left", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 1
					
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onAlignCenterClick()", uib-tooltip="Align items center", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 2
					
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onAlignRightClick()", uib-tooltip="Align items right", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 3
					
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onAlignTopClick()", uib-tooltip="Align items top", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 4
					
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onAlignMiddleClick()", uib-tooltip="Align items middle", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 5
					
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onAlignBottomClick()", uib-tooltip="Align items bottom", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 6
					
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onDistributeHorizontallyClick()", uib-tooltip="Distribute horizontally", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 7
					
				button.header-toolbar-button.header-toolbar-item(ng-click="ToolbarCtrl.onDistributeVerticallyClick()", uib-tooltip="Distribute vertically", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.header-toolbar-icon.glyph 8
				
			button#activity-toggle.header-toolbar-button.header-toolbar-item.header-toolbar-toggle.header-toolbar-right(ng-model="FrameCtrl.activityOpen", uib-btn-checkbox)
				span.header-toolbar-icon.font-awesome &#xf0c0;
					
	div#frame
		div#frame-titlebar
			a.left(ui-sref="frames")
				span.font-awesome &#xf053;
				span &nbsp; Close
				
			h2.h4.medium.snug 
				| {{ FrameCtrl.frame.name }}
				a(ui-sref="frameSettings({ id: FrameCtrl.frame._id })")
					span.font-awesome &#xf013;
			
			div.right
				button.btn.btn-primary.btn-sm(ng-click="FrameCtrl.onToolbarShareClick()")
					span.font-awesome &#xf1e0;
					|  Share
				
		#frame-toolbar
			div.btn-group.toolbar-item
				button.btn.btn-default.btn-sm(uib-tooltip-html="'Undo (' + ('ctrl' | symbol) + 'Z)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.font-awesome &#xf0e2;
					
				button.btn.btn-default.btn-sm(uib-tooltip-html="'Redo (' + ('shift' | symbol) + ('ctrl' | symbol) + 'Z)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", disabled)
					span.font-awesome.flip &#xf0e2;
					
			div.toolbar-item(uib-dropdown)
				button.btn.btn-default.btn-sm(uib-dropdown-toggle) 
					| {{ FrameCtrl.view.zoom * 100 }}% 
					span.caret
					
				div.uib-dropdown-menu
					li(ng-repeat="zoom in FrameCtrl.ZOOM_LEVELS")
						a(ng-click="FrameCtrl.onToolbarZoomLevelClick(zoom)", ng-class="{ strong: zoom == FrameCtrl.view.zoom }") {{ zoom * 100 }}%
			
			button.btn.btn-default.btn-sm.toolbar-item(ng-click="FrameCtrl.onToolbarFullscreenClick()", uib-tooltip-html="'Full screen (' + ('ctrl' | symbol) + 'F)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800") 
				span.font-awesome &#xf065;
						
			div.btn-group.toolbar-item
				button.btn.btn-default.btn-sm(ng-click="FrameCtrl.onToolbarCopyClick()", uib-tooltip-html="'Copy (' + ('ctrl' | symbol) + 'C)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.selection.length")
					span.font-awesome &#xf0c5;
					
				button.btn.btn-default.btn-sm(ng-click="FrameCtrl.onToolbarCutClick()", uib-tooltip-html="'Cut (' + ('ctrl' | symbol) + 'X)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.selection.length")
					span.font-awesome &#xf0c4;
					
				button.btn.btn-default.btn-sm(ng-click="FrameCtrl.onToolbarPasteClick()", uib-tooltip-html="'Paste (' + ('ctrl' | symbol) + 'V)'", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800", ng-disabled="!FrameCtrl.Clipboard.getItems().length")
					span.font-awesome &#xf0ea;
					
			div.toolbar-item(uib-dropdown)
				button.btn.btn-default.btn-sm(uib-dropdown-toggle, uib-tooltip="Download image", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					span.font-awesome.fa-fw(ng-show="!ToolbarCtrl.generateImageWorking") &#xf019;
					span(ng-show="ToolbarCtrl.generateImageWorking")
						span.font-awesome.fa-fw.fa-spin &#xf1ce;
						
					|   
					span.caret
						
				div.uib-dropdown-menu
					li
						a(ng-click="ToolbarCtrl.onGenerateImageClick(FrameCtrl.frame, 'png')") PNG
						
					li
						a(ng-click="ToolbarCtrl.onGenerateImageClick(FrameCtrl.frame, 'jpeg')") JPEG
					
					li
						a(ng-click="ToolbarCtrl.onGenerateImageClick(FrameCtrl.frame, 'svg')") SVG
					
			div.divider
			
			div.toolbar-group
				div#quick-add.input-group.input-group-sm.toolbar-item(uib-dropdown)
					span.input-group-addon
						span.font-awesome &#xf0e7;
							
					input.form-control.input-sm(ng-model="ToolbarCtrl.quickAdd.value", guib-typeahead="component.title for component in ToolbarCtrl.components | filter:{ title: $viewValue }", typeahead-on-select="ToolbarCtrl.onQuickAddSelect($item)", typeahead-append-to-body="true", ng-blur="ToolbarCtrl.onQuickAddBlur()", placeholder="Quick add...")
						
				div.btn-group.toolbar-item
					button.btn.btn-default.btn-sm(ng-click="ToolbarCtrl.onAlignLeftClick()", uib-tooltip="Align items left", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
						span.font-awesome &#xf036;
						
					button.btn.btn-default.btn-sm(ng-click="ToolbarCtrl.onAlignCenterClick()", uib-tooltip="Align items center", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
						span.font-awesome &#xf037;
						
					button.btn.btn-default.btn-sm(ng-click="ToolbarCtrl.onAlignRightClick()", uib-tooltip="Align items right", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
						span.font-awesome &#xf038;
					
			div#collaborators.toolbar-item.right
				span.text-muted(ng-show="!FrameCtrl.collaborators.length") No collaborators
				div.collaborator(ng-repeat="user in FrameCtrl.collaborators", uib-tooltip="{{ user.name }}", tooltip-placement="bottom", tooltip-append-to-body="true", tooltip-popup-delay="800")
					ui-placeholder.avatar(type="user", src="user.image", alt="{{ user.name }}")
					div.indicator(ng-style="{ 'background': user.color }")
						
			button#activity-toggle.btn.btn-sm.btn-default.toolbar-item(ng-model="FrameCtrl.activityOpen", uib-btn-checkbox)
				span.font-awesome &#xf0c0;
				
		// Properties
		#properties-pane.tray.tray-divider-top(ng-controller="PropertiesCtrl as PropertiesCtrl", ng-show="PropertiesCtrl.open")
			div#properties-pane-display(ng-show="PropertiesCtrl.selection.length == 1")

		#frame-canvas-wrapper
			#toolbox(ng-controller="ToolboxCtrl as ToolboxCtrl")
				div.toolbox-item(ng-repeat="item in ToolboxCtrl.items", ng-class="{ active: item.active }", ng-click="ToolboxCtrl.onItemClick(item)", title="{{ item.title }}")
					svg-replace(ng-src="{{ item.icon }}")
				
			canvas#canvas(wireframe, data="FrameCtrl.wireframe", resize, keepalive="true", oncontextmenu="return false", jqyoui-droppable)
					
			// Media library
			img(ng-repeat="media in FrameCtrl.media", ng-src="{{ media.large }}", id="{{ media._id }}", style="display:none")

			#frame-sidebar(ng-class="{ 'frame-sidebar-collapse': !FrameCtrl.activityOpen }")
				#activity-pane.frame-sidebar-pane(ng-controller="ActivityCtrl as ActivityCtrl")
					#activity-list.frame-sidebar-content(scroll-lock)
						div.frame-sidebar-panel
							div.activity-block(ng-repeat="activity in FrameCtrl.activities", ng-class="{ 'is-first': (activity | activityShowHeader:FrameCtrl.activities[$index-1]), 'is-sequence': (activity | activityCollapseItem:FrameCtrl.activities[$index-1]) }")
								div.activity(ng-class="{ 'is-author': FrameCtrl.getCurrentUser()._id == activity.user._id }", title="{{ activity.created_at | momentPattern:'MMM D YYYY h:mm:ss a' }}")
									div.activity-author(ng-if="activity.type == 'chat'")
										div.activity-avatar
											ui-placeholder.avatar(type="user", src="activity.user.image", title="{{ activity.user.name }}")
										
										div.activity-info
											span.activity-name.h5.medium(ng-hide="activity | activityCollapseItem:FrameCtrl.activities[$index-1]") {{ activity.user.name }} 
											span.activity-time.h6.text-muted {{ activity.created_at | momentCalendar:'d' }}
												
									div.activity-content
										span(ng-switch="activity.type")
											span.text-muted(ng-switch-when="new-frame")
												span.activity-time.h6.text-muted {{ activity.created_at | momentCalendar:'d' }}
												span.medium {{ activity.user.name }} 
												| created the wireframe
											
											span.text-muted(ng-switch-when="added-user")
												span.activity-time.h6.text-muted {{ activity.created_at | momentCalendar:'d' }}
												span.medium {{ activity.user.name }} 
												| added 
												span {{ activity.data.users[0].name }} 
												| to the wireframe
												
											span(ng-switch-when="chat") {{ activity.data.message }}
									
					form#activity-form.frame-sidebar-toolbar.frame-sidebar-toolbar-bottom(ng-submit="ActivityCtrl.onActivityFormSubmit()")
						textarea.form-control(msd-elastic, ng-model="ActivityCtrl.newMessage", ng-keydown="ActivityCtrl.onActivityChatKeyDown($event)", placeholder="Type a message...")
									
				#view-pane.frame-sidebar-pane(ng-show="false")
					.frame-sidebar-content
						.frame-sidebar-panel-header
							h5.medium.loose.text-muted Viewport
							
						.frame-sidebar-panel
							ul.properties
								li.property.form-group.form-group-sm(uib-dropdown)
									label.form-label.h5.text-muted Zoom
									
									div.property-controls
										div.property-control
											button.btn.btn-default.btn-sm(uib-dropdown-toggle) 
												| {{ FrameCtrl.view.zoom * 100 }}% 
												span.caret
											
											ul.uib-dropdown-menu
												li(ng-repeat="zoom in FrameCtrl.ZOOM_LEVELS")
													a(ng-click="FrameCtrl.onToolbarZoomLevelClick(zoom)", ng-class="{ strong: zoom == FrameCtrl.view.zoom }") {{ zoom * 100 }}%

								li.property.form-group.form-group-sm
									label.form-label.h5.text-muted Options
										
									div.property-controls
										div.property-control.checkbox-group
											label
												input(type="checkbox")
												span.h6  Grid
										
											label
												input(type="checkbox")
												span.h6  Snap to grid
												
											label
												input(type="checkbox")
												span.h6  Guides
		
				#settings-pane.frame-sidebar-pane(ng-show="false")
					.frame-sidebar-content.form-horizontal
						div.form-group.form-group-sm
							label.control-label.h6 Name
							input.form-control
																	
				#download-pane.frame-sidebar-pane(ng-show="false")
					.frame-sidebar-content
						div#download-dl
							button.btn.btn-small.btn-default.btn-block Download SVG
							button.btn.btn-small.btn-default.btn-block Download PNG
							button.btn.btn-small.btn-default.btn-block Download PDF
						
						div#download-print
							button.btn.btn-small.btn-success.btn-block 
								span.font-awesome &#xf02f; 
								| Print
