$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

@include keyframes(cardEntry) {
	from {
		opacity: 0;
	}
}

@include keyframes(cardExit) {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.cards {
	@include display-flex;
	@include flex-wrap(wrap);
	position: relative;
	margin-top: -2*$vu;

	.card {
		@include box-sizing(border-box);
		@include display-flex;
		border: 1px solid $grey2;
		background: white;
		text-decoration: none;
		letter-spacing: 0.01em;
		margin-top: 2*$vu;

		&:hover {
			cursor: pointer;
			border-color: $blue;
		}

		&:active {

		}

		.content {
			@include flex-grow(1);
			padding: 15px;
		}
	}
}

#dashboard-frames {
	margin-top: 6*$vu;

	.group {
		.organisation {
			.name {
				@include span(full);
				color: $grey2;
			}
		}

		.frames {
			margin-top: -$vu;

			.card {
				position: relative;
				height: 114px;

				&:nth-child(4n) {
					margin-right: 0;
				}

				&.new {
					border: none;
					background: #f4f4f4;
					text-align: center;

					.content {
						padding-top: 7*$vu;
					}
				}

				.left {

				}

				.right {
					display: none;
				}

				.block {
					display: block;
				}

				.name {
					margin: 0;
					color: $grey-3;
				}

				.project {
					margin-top: $vu;
					color: $grey1;
				}

				.users {
					margin-top: $vu;

					.user {
						float: left;

						& + .user {
							margin-left: 5px;
						}

						.avatar {
							display: block;
							width: 4*$vu;
							height: 4*$vu;
							border-radius: 2*$vu;
						}
					}
				}

				.lastModified {}
			}
		}
	}
}

@mixin card-width($columns, $margin) {

	#dashboard-frames {
		.cards {
			.card {
				width: (100% - ($columns - 1)*$margin) / $columns;
				margin-left: $margin;

				&:nth-child(#{$columns}n+1) {
					margin-left: 0;
				}
			}
		}
	}
}

@include breakpoint(0 600px) {

	@include card-width(1, 3%);
}

@include breakpoint(601px 800px) {

	@include card-width(2, 2.5%);
}

@include breakpoint(801px 1200px) {

	@include card-width(3, 2%);
}

@include breakpoint(1201px) {

	@include card-width(4, 1.5%);
}
