$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

@include keyframes(cardEntry) {
	from {
		opacity: 0;
	}
}

@include keyframes(cardExit) {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.form-page {
	padding-top: 60px;
}

.listview-titlebar {
	@include display-flex;
	@include align-items(center);
	height: 44px;
	padding-bottom: 11px;
	border-bottom: 1px solid $grey3;
	margin-bottom: 30px;
	color: $grey1;

	.listview-titlebar-item {
		& + .listview-titlebar-item {
			margin-left: 35px;
		}

		&,
		& + .listview-titlebar-item {
			&.right {
				margin-left: auto;
			}
		}

		.dropdown {
			display: inline-block;
			margin-left: 5px;

			.dropdown-toggle {
				padding: 10px 0;
				color: $grey-3;
				cursor: pointer;

				&:hover {
					color: $blue;
				}
			}
		}
	}
}

.cards {
	@include display-flex;
	@include flex-wrap(wrap);
	position: relative;

	.card {
		@include box-sizing(border-box);
		@include display-flex;
		@include flex-direction(column);
		border: 1px solid $grey3;
		margin-bottom: 30px;
		background: white;
		text-decoration: none;
		letter-spacing: 0.01em;

		&:hover {
			cursor: pointer;
			border-color: $blue;
		}

		&:active {

		}

		.images {

		}

		.image {
			width: 100%;
			height: 186px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.content {
			@include flex-grow(1);
			padding: 13px;
		}
	}
}

#dashboard-frames {

	.frames {

		.card {
			position: relative;
			// height: 114px;

			&:nth-child(4n) {
				margin-right: 0;
			}

			&.new {
				border: none;
				background: #f4f4f4;
				text-align: center;
			}

			.name {
				margin: 0;
				color: $grey-3;
			}

			.users {
				.user {
					float: left;

					& + .user {
						margin-left: 5px;
					}

					.avatar {
						display: block;
						width: 4*$vu;
						height: 4*$vu;
						border-radius: 2*$vu;
					}
				}
			}

			.last-modified {
				display: block;
				margin-top: 5px;
				margin-bottom: 0;
				color: $grey1;
			}
		}
	}
}

@mixin card-width($columns, $margin) {

	#dashboard-frames {
		.cards {
			.card {
				width: (100% - ($columns - 1)*$margin) / $columns;
				margin-left: $margin;

				&:nth-child(#{$columns}n+1) {
					margin-left: 0;
				}
			}
		}
	}
}

@include breakpoint(0 500px) {

	@include card-width(1, 4.5%);
}

@include breakpoint(501px 800px) {

	@include card-width(2, 4.0%);
}

@include breakpoint(801px 1100px) {

	@include card-width(3, 3.5%);
}

@include breakpoint(1101px) {

	@include card-width(4, 3.0%);
}
