div#dashboard-frames.form-page.layout-partial
	
	div.row
		div.listview-titlebar
			div.listview-titlebar-item
				span.h6 {{ ProjectCtrl.project.frames.length }} wireframe{{ ProjectCtrl.project.frames.length == 1 ? '' : 's' }}
				
			div.listview-titlebar-item
				span.h6 Sort by
				
				div(uib-dropdown, dropdown-append-to-body)
					span.ui-dropdown-toggle.h6(uib-dropdown-toggle)
						| {{ ProjectFramesCtrl.sort.options[ProjectFramesCtrl.sort.value] }}
						span.chevron
							
					ul.dropdown-menu
						li(ng-repeat="(value, label) in ProjectFramesCtrl.sort.options")
							a(ng-click="ProjectFramesCtrl.sort.value = value") {{ label }}
				
			div.listview-titlebar-item.right
				button.btn.btn-primary(ng-click="ProjectFramesCtrl.onNewFrameClick()")
					span.font-awesome &#xf067; 
					| Add wireframe
			
	div.frames.cards.row
		a.card(ng-repeat="frame in ProjectCtrl.project.frames | orderBy:ProjectFramesCtrl.sort.value", ui-sref="frame({ id: frame._id })")
			div.images
				div.image(style="background-image: url('/assets/images/sample-wireframe-tn@2x.png')")
				
			div.content
				h5.name.medium {{ frame.name }}
				span.last-modified.h6 {{ (frame.created_at | moment).fromNow() }}
				
	div.row
		a(href="", ng-click="ProjectFramesCtrl.onNewFrameClick()")
			span.font-awesome &#xf067; 
			| Add wireframe
