
$gunmetal: #7c8285;
$activityAvatarSize: 32px;

#activity-pane {
  @include display-flex;
  @include flex-direction(column);
  position: relative;
  height: 100%;

  @include flex-grow(0);
  @include flex-shrink(0);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    z-index: 10;
    border-top: 3px solid white;
    @include background-image(linear-gradient(rgba(white, 1), rgba(white, 0)));
  }

  .activity-author {
    .activity-avatar {
      position: relative;
      width: $activityAvatarSize;

      .avatar {
        width: $activityAvatarSize;
        height: $activityAvatarSize;
      }
    }

    .activity-info {

    }
  }

  #activity-list {
    height: 100%;
    overflow: scroll;

    &.frame-sidebar-content {
      .frame-sidebar-panel {
        padding-bottom: 27px;
      }
    }

    .activity-block {
      &.is-first {
        margin-top: 35px;
      }

      &.is-sequence {
        margin-top: 5px;

        .activity-author {
          display: none;
        }
      }


      /*
       * New activity animation
       * See `/app/frame/panes/activity-animation.ts` for more info
       */

      &.inserting {
        opacity: 0;
        overflow: hidden;
      }

      &.measuring {
        position: absolute;
        width: 224px;
      }

      &.revealing {
        height: 0;
        margin-top: 0;

        &.fade-in {
          opacity: 1;
        }
      }

      &.revealing-active {
        @include transition(height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s linear);
        margin-top: 35px;

        &.is-sequence {
          margin-top: 5px;
        }
      }
    }

    .activity {
      .activity-author {
        @include display-flex;

        .activity-info {
          @include order(2);
          margin-left: 10px;
          width: 100%;

          .activity-name {
            display: block;
            margin-top: -1px;
            margin-bottom: 0;
          }

          .activity-time {
            margin-top: -2px;
            margin-bottom: -3px;
          }
        }

        .activity-avatar {
          @include order(1);
          @include flex-shrink(0);
        }
      }

      .activity-time {
        display: block;
        text-transform: capitalize;
      }

      .activity-content {
        margin-top: 10px;
        line-height: 27px;

        .activity-time {
          margin-bottom: 4px;
        }
      }
    }
  }

  #activity-form {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
