
$gunmetal: #7c8285;
$activityAvatarSize: 25px;

#activity-pane {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;

  @include flex-grow(0);
  @include flex-shrink(0);

  .activity-time {
    margin-top: 35px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba($gunmetal, 0.1);
    text-transform: capitalize;
  }

  .activity-avatar {
    position: relative;
    width: $activityAvatarSize;

    .avatar {
      position: absolute;
      top: -($activityAvatarSize - $b2-baseline-height-true) / 2;
      width: $activityAvatarSize;
      height: $activityAvatarSize;
    }
  }

  .activity-info {
    .b3 {
      line-height: 20px;
    }
  }

  .activity-name {
    color: $gunmetal;
  }

  #activity-list {
    height: 100%;
    overflow: scroll;

    .activity-block {
      & + .activity-block {
        .activity-time {
          margin-top: 43px;
        }

        .activity {
          margin-top: 27px;

          &.is-sequence {
            margin-top: $b2-line-height - $b2-baseline-height-true + 1px;
          }
        }
      }

      .activity-time {
        display: none;
      }

      &.is-first {
        .activity-time {
          display: block;
        }

        .activity {
          margin-top: 17px;
        }
      }

      &:last-child {
        margin-bottom: 27px;
      }
    }

    .activity {
      @include display-flex;
      margin-top: 17px;

      .activity-info {
        @include order(2);
        margin-left: 10px;
        width: 100%;

        .name {
          margin-top: 5px;
          margin-bottom: 3px;
        }

        .body {
          text-align: left;
        }
      }

      .activity-avatar {
        @include order(1);
        @include flex-shrink(0);
      }

      &.is-sequence {
        .name,
        .activity-avatar .avatar {
          display: none;
        }
      }

      &.is-author {

        .activity-info {


          .name {

          }

          .body {

          }
        }

        .activity-avatar {

        }
      }
    }
  }

  #activity-form {
    @include display-flex;
    padding-top: 10px;
    padding-bottom: 10px;

    .ui-pane {
      @include display-flex;
    }

    input {
      width: 100%;
    }

    .ui-button {
      height: 5*$vu;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0.5*$vu;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
