
$activityAvatarSize: 32px;

#activity-pane {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;

  #activity-list {
    height: 100%;
    overflow: scroll;

    .activity {
      @include display-flex;
      margin-top: 17px;

      & + .activity {
        margin-top: 25px;
      }

      .activity-info {
        @include order(2);
        margin-left: 10px;
        width: 100%;

        .name {
          margin-top: 5px;
          margin-bottom: 3px;
        }

        .body {
          text-align: left;
        }
      }

      .activity-avatar {
        @include order(1);
        @include flex-shrink(0);
      }

      &.isSequence {
        margin-top: 5px;

        .name,
        .activity-avatar .avatar {
          display: none;
        }
      }

      &.isAuthor {

        .activity-info {


          .name {

          }

          .body {

          }
        }

        .activity-avatar {

        }
      }
    }
  }

  #activity-form {
    padding-top: 10px;
    padding-bottom: 10px;

    .ui-pane {
      @include display-flex;
    }

    input {
      width: 100%;
    }

    .ui-button {
      height: 5*$vu;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0.5*$vu;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
