
$tray-control-height: 22px;

#properties-pane {
  .tray-group {
    @include display-flex;
    margin-bottom: 0;

    & + .tray-group {
      margin-top: 18px;
    }

    .tray-label {
      margin: 0;
      padding-top: 2px;
      color: $grey1;
    }

    .tray-controls {
      @include flex-grow(1);
      min-width: 0;
    }

    .tray-label + .tray-controls {
      margin-left: 16px;
    }

    .tray-control-icon {
      color: #ced2ca;

      &.glyph {
        font-size: 14px;
        height: 14px;
      }
    }

    .tray-control-row {
      @include display-flex;

      & + .tray-control-row {
        margin-top: 18px;
      }

      .tray-control-icon {
        & + .tray-control {
          margin-left: 12px;
        }
      }

      .tray-control {
        @include flex-grow(1);
        @include flex-shrink(1);
        min-width: 0;

        & + .tray-control,
        & + .tray-control-icon {
          margin-left: 26px;
        }

        &.auto {
          @include flex-grow(0);
        }
      }
    }

    .tray-control-styling {
      height: $tray-control-height;
      line-height: $tray-control-height;
      width: auto;
      padding: 0;
      border: none;
      border-bottom: 1px solid #4f514d;
      background: none;
      color: white;
      font-size: $font-size-h6;
      @include transition(all 100ms);
      @include box-shadow(none);

      &:focus {
        outline: none;
        border-bottom-color: $yellow;
      }
    }

    .ui-dropdown {
      &.open {
        .tray-control-styling {
          border-bottom-color: $yellow;
        }

        .chevron {
          color: $yellow;
        }
      }

      &:hover {
        .chevron {
          color: $yellow;
        }
      }

      .tray-control {
        line-height: 21px;
      }

      .chevron {
        position: absolute;
        right: 0;
        color: $grey1;
      }
    }

    input[type="checkbox"] {
      margin-right: 5px;

      & + label {
        display: inline;
      }
    }

    .ui-icon {
      margin: 0;

      .ui-icon-icon {
        color: white;
        border-color: $grey-1;
      }
    }
  }

  #properties-type-font-family,
  #properties-type-font-size {
    @include flex-basis(70px);
  }

  #properties-type-font-weight,
  #properties-type-line-height {
    @include flex-basis(30px);
  }

  #properties-type-letter-spacing {
    @include flex-shrink(0);
    width: 40px;
  }

  #properties-appearance-opacity-input {
    @include flex-shrink(0);
    width: 36px;
    margin-left: 14px;
  }
}

$tray-padding-vertical: 22px;
$tray-padding-horizontal: 14px;

.tray-divider-top {
  border-top: 2px solid $grey-2;
}

.tray-divider-bottom {
  border-bottom: 2px solid $grey-2;
}

.tray {
  position: absolute;
  z-index: 100;
  background: $grey-3;

  .tray-area {
    padding: 23px 14px 31px;
    color: white;
  }

  .tray-heading {
    margin-top: 0;
    margin-bottom: 13px;
    color: #6a6d67;
  }
}
