

form(name="form", ng-submit="login(form)", novalidate="").ui-modal
  .ui-modal-header
    h2 Higherframe is in closed beta
    
  .ui-modal-body
    div.ui-control.block
      p.b1 Thanks for your interest in Higherframe. We want to create the best wireframing tool we can; a piece of software we hope you'll love.
      p.b1 If you would like to become a beta tester, please provide your details. We would love your help and will contact you soon.
      
    div.ui-control.block
      label.ui-label.b1(for="user") Email address:
      input.ui-input(name="email", type="text", ng-model="user.email", placeholder="e.g.: don@sterlingcooper.com", required, tabindex="1")
      p.ui-hint.b3 Not a Higherframe user? 
        a(href="/signup", tabindex="3") Request access now
        
    div.ui-control.block
      label.ui-label.b1(for="password") Password:
      input.ui-input(name="password", type="password", ng-model="user.password", required, tabindex="2")
        
    div.ui-control.block
      p.ui-error.b1(ng-show='form.email.$error.required && form.password.$error.required && submitted')
        | Please enter your email and password.
      p.ui-error.b1 {{ errors.other }}
    
  .ui-modal-footer
    .ui-modal-buttons
      a.ui-button.neutral(ng-click="ModalCtrl.onCancelButtonClick()")
        span.b1.medium.loose.uppercase Cancel
        
      button.ui-button.success(type="submit")
        span.b1.medium.loose.uppercase Login
