form(name="ModalCtrl.project").ui-modal
  .ui-modal-header
    h4 {{ ModalCtrl.title }}
    
  .ui-modal-body
    div.form-group
      label(for="name") What is the project's name?
      input.form-control(name="name", type="text", ng-model="ModalCtrl.name", placeholder="Enter a name", required)
    
  .ui-modal-footer
    .ui-modal-buttons
      button.btn.btn-default(ng-click="ModalCtrl.onCloseButtonClick()")
        span Cancel
        
      button.btn.btn-success(ng-click="ModalCtrl.onSaveButtonClick()")
        span Create
