.ui-tray-region {
  position: absolute;
  top: 10px;
  height: 500px;
  z-index: 100;

  &[position="left"] {
    left: 0;

    .ui-tray-tabs {
      left: 100%;
      @include transform-origin(0, 100%);
      @include transform(rotate(90deg));
      padding-left: 15px;
    }
  }

  &[position="right"] {
    right: 0;

    .ui-tray-tabs {
      right: 100%;
      @include transform-origin(100%, 100%);
      @include transform(rotate(-90deg));
      padding-right: 15px;
    }
  }

  .ui-tray-tabs {
    @include display-flex;
    position: absolute;
    bottom: 100%;

    .ui-tray-tab {
      margin-left: 2px;
      padding: 5px 9px;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      color: $uiContainerTextColorDull;
      background: $uiContainerBackgroundDull;
      cursor: pointer;
      @include box-shadow($uiShadowOffset (-$uiShadowOffset) 0 $uiShadowColor);

      &.active {
        color: $uiContainerTextColorHighlight;
        background: $uiContainerBackgroundHighlight;
      }
    }
  }
}

.ui-tray {
  @include display-flex;
  @include flex-direction(column);
  @include box-sizing(border-box);
  height: 100%;
  width: 260px;
  background: $uiContainerBackground;
  color: $uiContainerTextColor;
  @include box-shadow($uiShadow);

  .ui-content {
    @include flex-grow(1);
    padding: $uiContainerPadding;

    .ui-header {
      margin: 20px (-$uiContainerPadding) 15px;
      padding: 0 $uiContainerPadding 6px;
      border-bottom: 1px solid $blue6;
      color: $blue;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;

      &:first-child {
        margin-top: 20px - $uiContainerPadding;
      }
    }

    .ui-tray-message {
      display: block;
      font-style: italic;
      text-align: center;
    }
  }

  .ui-footer {
    padding: $uiContainerPadding;
    background: $uiContainerBackgroundHighlight;
    color: $uiContainerTextColorHighlight;
  }
}
