
.ui-control {
  @include display-flex;

  .ui-label {
    width: 40px;
    margin-right: 7px;
    text-align: right;
  }

  .ui-input {
    @include flex-grow(1);
  }
}

.ui-control.small {
  .ui-control + & {
    margin-top: 15px;
  }
}
