div.ui-icon
  span.ui-icon-icon(ng-click="Ctrl.onChangeClick($event)") {{ Ctrl.icon | unicode }}
  
  div.btn-group(uib-dropdown, is-open="Ctrl.open", on-toggle="Ctrl.onDropdownToggle(open)")
    div.uib-dropdown-menu(role="menu")
      div.ui-icon-dropdown-search
        input.form-control(type="text", placeholder="Search...", focus-on="Ctrl.searchFocus", ng-model="Ctrl.search", ng-click="Ctrl.onDropdownSearchClick($event)")
        
      ul.ui-icon-dropdown-icons
        li.ui-icon-dropdown-icon(ng-repeat="icon in Ctrl.icons | filter:Ctrl.search track by icon.id")
          a(ng-click="Ctrl.onIconClick(icon)", title="{{ icon.name }}")
            span.ui-icon-dropdown-icon-glyph {{ icon.unicode | unicode }}
        
  div.ui-icon-actions.b3
    a(ng-if="!Ctrl.icon", ng-click="Ctrl.onChangeClick($event)") Choose icon
    a(ng-if="!!Ctrl.icon", ng-click="Ctrl.onChangeClick($event)") Change
    a(ng-if="!!Ctrl.icon", ng-click="Ctrl.onRemoveClick($event)") Remove
