
.ui-input {
  @include box-sizing(border-box);
  padding: 0 $uiControlPaddingHorizontalMedium;
  height: $uiControlHeightMedium;
  border: 0;
  border-bottom: 1px solid $uiControlBorderColor;
  border-radius: $uiControlBorderRadius;
  font-size: 18px;
  background: white;

  &:hover {
    border-bottom-color: $uiControlBorderColorHover;
  }

  &:focus {
    outline: none;
    border-bottom-color: $uiControlBorderColorFocus;
  }
}

.ui-control.small {
  .ui-label {
    line-height: $uiControlHeightSmall;
  }

  .ui-input {
    height: auto;
    padding: 5px 4px;
    border: none;
    font-size: $uiFontSizeSmall;
    font-weight: $uiFontWeightSmall;
    color: $uiContainerTextColor;
  }
}
