
.ui-tokens {
  .ui-token {
    display: inline-block;
    margin-right: 5px;
    margin-top: 0.5*$vu;
    border: 1px solid $uiControlBorderColor;
    border-radius: 5px;
    background: white;

    .ui-token-container {
      @include display-flex;

      span {
        @include box-sizing(border-box);
        display: block;
        height: 4*$vu;
        padding: $vu $vu 0;
      }

      .ui-token-remove {
        @include box-sizing(border-box);
        height: 4*$vu;
        padding: $vu;
        border-left: 1px solid $uiControlBorderColor;
        border-top-right-radius: $uiControlBorderRadius - 1;
        border-bottom-right-radius: $uiControlBorderRadius - 1;
        cursor: pointer;

        &:hover {
          background: $uiControlBorderColor;
          color: white;
        }
      }
    }
  }
}

.ui-control.block {
  .ui-tokens {
    margin-top: 2*$vu;
  }
}
